<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias alias="BoardDto" type="com.music.sharemusic.dto.BoardDto" />
    <typeAlias alias="MemberDto" type="com.music.sharemusic.dto.MemberDto" />
    <typeAlias alias="ReplysDto" type="com.music.sharemusic.dto.ReplysDto" />
    <typeAlias alias="HistoryDto" type="com.music.sharemusic.dto.HistoryDto" />
  </typeAliases>
</configuration>
