<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="" layout:fragment="contents">
    <section class="board-modify--page">
      <article class="boardWrite-page--form">
        <form action="/board/modify" method="POST" th:object="${boardDto}">
          <div class="musicName">
            <div class="musicName-left">
              <div class="boardWrite-pag--item">
                <p>곡 이름</p>
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="곡 이름을 입력해주세요."
                  aria-label=".form-control-lg example"
                  th:field="*{postTitle}"
                />
                <p
                  class="errorTxt"
                  th:if="${#fields.hasErrors('postTitle')}"
                  th:errorclass="errorTxt"
                  th:errors="*{postTitle}"
                >
                  에러 메세지 출력
                </p>
              </div>
              <div class="boardWrite-pag--item">
                <p>가수 이름</p>
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="가수 이름을 입력해주세요."
                  aria-label=".form-control-lg example"
                  th:field="*{postSinger}"
                />
                <p
                  class="errorTxt"
                  th:if="${#fields.hasErrors('postSinger')}"
                  th:errorclass="errorTxt"
                  th:errors="*{postSinger}"
                >
                  에러 메세지 출력
                </p>
              </div>
            </div>
            <div class="musicName-right">
              <p>장르</p>
              <div class="boardWrite-pag--item" onclick="getModalModifyGenre()">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  id="modifyPostGenre"
                  th:field="*{postGenre}"
                  placeholder="장르를 선택해주세요."
                  readonly
                />
                <p
                  th:if="${#fields.hasErrors('postGenre')}"
                  th:errorclass="errorTxt"
                  th:errors="*{postGenre}"
                >
                  에러 메세지 출력
                </p>
              </div>
              <p>감성</p>
              <div class="boardWrite-pag--item" onclick="getModalModifyEmote()">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  id="modifyPostEmote"
                  th:field="*{postEmote}"
                  placeholder="감성을 선택해주세요."
                  readonly
                />
                <p
                  th:if="${#fields.hasErrors('postEmote')}"
                  th:errorclass="errorTxt"
                  th:errors="*{postEmote}"
                ></p>
              </div>
            </div>
          </div>
          <!-- musicName -->
          <div class="boardWrite-pag--item">
            <p>유튜브 링크</p>
            <input
              class="form-control form-control-lg postLink"
              type="text"
              placeholder="유튜브 링크를 입력해주세요."
              aria-label=".form-control-lg example"
              name="postLink"
              th:field="*{postLink}"
            />
            <p
              class="errorTxt"
              th:if="${#fields.hasErrors('postLink')}"
              th:errorclass="errorTxt"
              th:errors="*{postLink}"
            >
              에러 메세지 출력
            </p>
            <p
              class="errorTxt"
              th:if="${linkCheck == 'error'} and *{postLink} != ''"
            >
              링크를 다시 확인해주세요
            </p>
            <input type="hidden" value="" class="linkCheck" name="linkCheck" />
          </div>
          <div class="boardWrite-pag--item">
            <p>내용작성</p>
            <textarea
              rows="10"
              class="form-control"
              placeholder="설명 내용을 작성해주세요."
              id="floatingTextarea"
              name="postCont"
              th:field="*{postCont}"
            ></textarea>
            <p
              th:if="${#fields.hasErrors('postCont')}"
              th:errorclass="errorTxt"
              th:errors="*{postCont}"
            >
              에러 메세지 출력
            </p>
          </div>
          <div class="btns">
            <input type="hidden" name="postNo" th:value="${param.postNo}" />
            <button
              type="submit"
              class="btnHover btn btn-primary"
              id="btnModifyConfirm"
            >
              등록
            </button>
            <button type="reset" class="btn btn-secondary" onclick="cancel()">
              취소
            </button>
          </div>
        </form>
      </article>
      <!-- board-bodify--content -->
    </section>
    <!-- board-modify--page -->

    <!-- 장르 모달창 -->
    <div id="modalModifyGenre" class="modal-wnd">
      <div id="closeModalModifyGenre" class="modalContents modalCategory">
        <!-- 모달창 안에 여기 내용 작성 -->
        <div class="modalCategory__box">
          <span class="modalCategory__box__option" id="modifyKPop">
            <a><img src="/images/music01.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyGIdol">
            <a><img src="/images/music02.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyBIdol">
            <a><img src="/images/music03.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyBallad">
            <a><img src="/images/music04.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyRB">
            <a><img src="/images/music05.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyHipHop">
            <a><img src="/images/music06.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyRock">
            <a><img src="/images/music07.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyEdm">
            <a><img src="/images/music08.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyDrama">
            <a><img src="/images/music09.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyMovie">
            <a><img src="/images/music10.png" alt="" /></a>
          </span>
        </div>
      </div>
      <!-- ModalThis-content -->
    </div>

    <!-- 감성 모달창 -->
    <div id="modalModifyEmote" class="modal-wnd">
      <div id="closeModalModifyEmote" class="modalContents modalCategory">
        <!-- 모달창 안에 여기 내용 작성 -->
        <div class="modalCategory__box">
          <span class="modalCategory__box__option" id="modifyFav">
            <a><img src="/images/mood01.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyHit">
            <a><img src="/images/mood02.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyExcite">
            <a><img src="/images/mood03.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyGloomy">
            <a><img src="/images/mood04.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyLove">
            <a><img src="/images/mood05.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyOut">
            <a><img src="/images/mood06.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifySports">
            <a><img src="/images/mood07.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyRelax">
            <a><img src="/images/mood08.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyParty">
            <a><img src="/images/mood09.png" alt="" /></a>
          </span>
          <span class="modalCategory__box__option" id="modifyLonely">
            <a><img src="/images/mood10.png" alt="" /></a>
          </span>
        </div>
      </div>
      <!-- ModalThis-content -->
    </div>
  </main>
</html>
