<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="container" layout:fragment="contents">
    <section class="board-modify--page">
      <article class="board-bodify--content">
        <form action="/board/modify" method="POST" th:object="${boardDto}">
          <div class="boardModify-bg boardModify-music--title form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="곡 이름을 입력해주세요."
              th:field="*{postTitle}"
            />
            <!-- error시 나타나는 메세지 -->
            <p
              th:if="${#fields.hasErrors('postTitle')}"
              th:errorclass="errorTxt"
              th:errors="*{postTitle}"
            >
              에러 메세지 출력
            </p>
            <label for="floatingInput">곡 이름</label>
          </div>
          <!-- boardModify-music--title -->
          <div class="boardModify-bg boardModify-music--name form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="가수 이름을 입력해주세요."
              th:field="*{postSinger}"
            />
            <!-- error시 나타나는 메세지 -->
            <p
              th:if="${#fields.hasErrors('postSinger')}"
              th:errorclass="errorTxt"
              th:errors="*{postSinger}"
            >
              에러 메세지 출력
            </p>
            <label for="floatingInput">가수 이름</label>
          </div>
          <!-- boardModify-music--name -->
          <div class="boardModify-bg boardModify-music--txt form-floating">
            <textarea
              class="form-control"
              placeholder="설명 내용을 작성해주세요."
              id="floatingTextarea2"
              style="height: 100px"
              th:field="*{postCont}"
            ></textarea>
            <!-- error시 나타나는 메세지 -->
            <p
              th:if="${#fields.hasErrors('postCont')}"
              th:errorclass="errorTxt"
              th:errors="*{postCont}"
            >
              에러 메세지 출력
            </p>
            <label for="floatingTextarea2">내용 입력</label>
          </div>
          <!-- boardModify-music--txt -->
          <div class="boardModify-bg boardModify-music--video form-floating">
            <input
              type="text"
              class="postLink form-control"
              id="floatingInput"
              placeholder="유튜브 링크를 입력해주세요."
              th:field="*{postLink}"
            />
            <!-- error시 나타나는 메세지 -->
            <p
              th:if="${#fields.hasErrors('postLink')}"
              th:errorclass="errorTxt"
              th:errors="*{postLink}"
            >
              에러 메세지 출력
            </p>
            <!-- error시 나타나는 메세지 -->
            <p th:if="${linkCheck == 'error'} and *{postLink} != ''">
              링크를 다시 확인해주세요
            </p>
            <input type="hidden" value="" class="linkCheck" name="linkCheck" />
            <label for="floatingInput">유튜브 링크</label>
          </div>
          <!-- boardModify-music--video -->
          <p>장르</p>
          <div
            class="boardModify-bg boardModify-music--Genre input-group"
            onclick="getModalModifyGenre()"
          >
            <input
              type="text"
              class="form-select"
              id="modifyPostGenre"
              name="postGenre"
              th:field="*{postGenre}"
              placeholder="장르를 선택해주세요."
            />
            <!-- error시 나타나는 메세지 -->
            <p
              th:if="${#fields.hasErrors('postGenre')}"
              th:errorclass="errorTxt"
              th:errors="*{postGenre}"
            >
              에러 메세지 출력
            </p>
          </div>
          <!-- boardModify-music--Genre -->
          <p>감성</p>
          <div
            class="boardModify-bg boardModify-music--Emote"
            onclick="getModalModifyEmote()"
          >
            <input
              type="text"
              class="form-select"
              id="modifyPostEmote"
              th:field="*{postEmote}"
              placeholder="감성을 선택해주세요."
            />
            <!-- error시 나타나는 메세지 -->
            <p
              th:if="${#fields.hasErrors('postEmote')}"
              th:errorclass="errorTxt"
              th:errors="*{postEmote}"
            >
              에러 메세지 출력
            </p>
          </div>
          <!-- boardModify-music--Emote -->
          <div class="btn-submit">
            <!-- 로그인 한 유저의 이름 보내기 -->
            <!-- <input type="hidden" name="postAuth" value="${session.userNm}"> -->
            <input type="hidden" name="postNo" th:value="${param.postNo}" />
            <button class="btn btn-primary btnModifyConfirm">수정완료</button>
            <a
              th:href="@{/board/view(postNo=${boardDto.postNo})}"
              type="reset"
              class="btn btn-secondary"
              >취소</a
            >
          </div>
        </form>
      </article>
      <!-- board-bodify--content -->
    </section>
    <!-- board-modify--page -->

    <!-- 장르 모달창 -->
    <div id="modalModifyGenre" class="modal-wnd">
      <div id="closeModalModifyGenre" class="modalContents modalCategory">
        <!-- 모달창 안에 여기 내용 작성 -->
        <div class="modalCategory__box">
          <div class="modalCategory__box__option" id="modifyDance">
            <span>댄스/팝</span>
          </div>
          <div class="modalCategory__box__option" id="modifyFolk">
            <span>포크/어쿠스틱</span>
          </div>
          <div class="modalCategory__box__option" id="modifyIdol">
            <span>아이돌</span>
          </div>
          <div class="modalCategory__box__option" id="modifyRap">
            <span>랩/힙합</span>
          </div>
          <div class="modalCategory__box__option" id="modifyRB">
            <span>알앤비/소울</span>
          </div>
          <div class="modalCategory__box__option" id="modifyElect">
            <span>일렉트로닉</span>
          </div>
          <div class="modalCategory__box__option" id="modifyRock">
            <span>락/메탈</span>
          </div>
          <div class="modalCategory__box__option" id="modifyJazz">
            <span>재즈</span>
          </div>
          <div class="modalCategory__box__option" id="modifyIndie">
            <span>인디</span>
          </div>
          <div class="modalCategory__box__option" id="modifyAdult">
            <span>성인가요</span>
          </div>
        </div>
      </div>
      <!-- ModalThis-content -->
    </div>

    <!-- 감성 모달창 -->
    <div id="modalModifyEmote" class="modal-wnd">
      <div id="closeModalModifyEmote" class="modalContents modalCategory">
        <!-- 모달창 안에 여기 내용 작성 -->
        <div class="modalCategory__box">
          <div class="modalCategory__box__option" id="modifyExcite">
            <span>신남</span>
          </div>
          <div class="modalCategory__box__option" id="modifyGloomy">
            <span>우울</span>
          </div>
          <div class="modalCategory__box__option" id="modifyEcstasy">
            <span>희열</span>
          </div>
          <div class="modalCategory__box__option" id="modifySpooky">
            <span>으스스</span>
          </div>
          <div class="modalCategory__box__option" id="modifyMagni">
            <span>웅장한</span>
          </div>
          <div class="modalCategory__box__option" id="modifyCalm">
            <span>잔잔</span>
          </div>
          <div class="modalCategory__box__option" id="modifyFlutter">
            <span>설렘</span>
          </div>
          <div class="modalCategory__box__option" id="modifySorrow">
            <span>애절한</span>
          </div>
          <div class="modalCategory__box__option" id="modifyDreamy">
            <span>몽환적</span>
          </div>
          <div class="modalCategory__box__option" id="modifyWarm">
            <span>따뜻한</span>
          </div>
        </div>
      </div>
      <!-- ModalThis-content -->
    </div>
  </main>
</html>
