<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>글 수정하기</h1>
    <form action="/board/modify" method="post">
      <div>
        <span>곡 이름</span
        ><input type="text" name="postTitle" th:value="${boardDto.postTitle}" />
      </div>
      <div>
        <span>가수 이름</span
        ><input
          type="text"
          name="postSinger"
          th:value="${boardDto.postSinger}"
        />
      </div>
      <div>
        <span>설명(150자 이내)</span
        ><input type="text" name="postCont" th:value="${boardDto.postCont}" />
      </div>
      <div>
        <span>유튜브 링크</span
        ><input type="text" name="postLink" th:value="${boardDto.postLink}" />
      </div>
      <div>
        <span>장르</span>
        <select name="postGenre" id="">
          <option value="락" th:selected="${boardDto.postGenre=='락'}">
            락
          </option>
          <option value="발라드" th:selected="${boardDto.postGenre=='발라드'}">
            발라드
          </option>
          <option value="팝" th:selected="${boardDto.postGenre=='팝'}">
            팝
          </option>
          <option value="재즈" th:selected="${boardDto.postGenre=='재즈'}">
            재즈
          </option>
          <option value="메탈" th:selected="${boardDto.postGenre=='메탈'}">
            메탈
          </option>
          <option value="EDM" th:selected="${boardDto.postGenre=='EDM'}">
            EDM
          </option>
          <option
            value="보컬로이드"
            th:selected="${boardDto.postGenre=='보컬로이드'}"
          >
            보컬로이드
          </option>
        </select>
      </div>
      <div>
        <span>갬성</span>
        <select name="postEmote" id="">
          <option value="신남" th:selected="${boardDto.postEmote=='신남'}">
            신남
          </option>
          <option value="우울" th:selected="${boardDto.postEmote=='우울'}">
            우울
          </option>
          <option value="희열" th:selected="${boardDto.postEmote=='희열'}">
            희열
          </option>
          <option value="으스스" th:selected="${boardDto.postEmote=='으스스'}">
            으스스
          </option>
        </select>
      </div>
      <!-- 로그인 한 유저의 이름 보내기 -->
      <!-- <input type="hidden" name="postAuth" value="${session.userNm}"> -->
      <input type="hidden" name="postNo" th:value="${param.postNo}" />
      <button>수정</button>
    </form>
  </body>
</html>
