<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
<main id="mainPage-Area" class="" layout:fragment="contents">
  <section class="boardView">
    <article class="boardView-Area">
      <div class="boardView-Area-title topAndbut">
        <h1>VIDEO</h1>
      </div><!-- boardView-Area-title -->
      <div class="boardView-Video">
        <iframe th:src="'https://www.youtube.com/embed/' + ${boardDto.postLink}+'?&controls=0&autohide=0&rel=0'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <div class="boardView-Video--title">
          <div class="title">
            <div class="title-name">
              <p th:text="${boardDto.postTitle}">곡이름</p>
              <a th:href="@{/mainPage/(searchTxt=${boardDto.postSinger})}">
                <h1 th:text="${boardDto.postSinger}">가수</h1>
              </a>
            </div><!-- title-name -->
            <div class="title-Date">
              등록&nbsp;&nbsp; <span th:text="${boardDto.postDate}">0</span>
              &nbsp;&nbsp;&nbsp;*&nbsp;&nbsp; 조회수&nbsp;&nbsp; <span th:text="${boardDto.postHits}">0</span>
            </div><!-- title-Date -->
            <div class="title-Genre">
              <span th:text="'#' + ${boardDto.postGenre}">장르</span>
              <span th:text="'#' + ${boardDto.postEmote}">감성</span>
            </div><!-- title-Genre -->
            <div class="title-btn" th:if="${session.loggedUser != null} and ${session.loggedUser.userNM == boardDto.postAuth}">
              <a href="/board/modify" th:href="@{/board/modify(postNo=${boardDto.postNo})}" class="btn btn-primary">수정</a>
            <button id="deleteModalBox" class="btn btn-secondary">삭제</button>
            </div><!-- title-btn -->
          </div><!-- title -->
          <div class="like">
            <div class="like-good">
              <img class="good-img" src="/images/good.svg" onclick="test();postGood();"/>
              <span th:text="${boardDto.postLike}" class="postLike">0</span>
            </div><!-- like-good -->
            <div class="like-btn">
              <button class="btnOpen btnShare" id="shareModalBox">
                <img src="/images/open.svg" alt="" />
              </button>
            </div><!-- like-btn -->
          </div><!-- like -->
        </div><!-- boardView-Video--title -->
      </div><!-- boardView-Video -->
    </article><!-- boardView-Area -->
  </section><!-- boardView -->

    <script>
      function like() {
        $.ajax({
          url: "member/like",
          type: "POST",
          data: {},
          success: function (response) {
            console.log(response);
            if (response.result) {
            }
          },
          error: function (err) {
            console.log(err);
          },
        });
      }
    </script>
    <script th:inline="javascript">
      getModal($("#deleteModalBox"), $("#deleteModal"), $("#closeDeleteModal"));
      getModal($("#shareModalBox"), $("#shareModal"), $("#closeShareModal"));

      /*<![CDATA[*/
      const postNo = [[${boardDto.postNo}]];
      const postLike = $(".postLike").text();

        // 추천 수 누를 때 이벤트
        function postGood() {
          console.log("btnPostLikeClicked");
          const sendData = {
            postNo: postNo,
            postLike: postLike
          }

          $.ajax({
            url: "/board/updateLike",
            type: "POST",
            data: sendData,
            success: function(response) {
              if (response.result != null) {
                $(".postLike").text(response.postLike);
              }
            },
            error: function(err) {
              console.log(err);
            }
          })
        }

        $("#btnDeleteConfirm").on("click", function() {
          console.log("btnDeleteClicked");
          $.ajax({
            url: "/board/delete",
            type: "POST",
            data: {"postNo": postNo},
            success: function(response) {
              if (response.msg == "ok") {
                 location.href="/mainPage/";
              } else {
                location.reload();
              }
            }
          })
        })

      /*]]>*/

      // 복사 버튼 누르면 url 복사
      async function copyUrl() {
        const shareUrl = $(".shareUrl").val();
        await navigator.clipboard.writeText(shareUrl);
      }

      // 트위터 공유
      $(".shareTwitter").on("click", function() {
        const sendText = '테스트 중';
        const pageUrl = 'https://github.com/mbelDev/sharemusic';
        window.open(`https://twitter.com/intent/tweet?text=${sendText}&url=${pageUrl}`);
      })

      // 페이스북 공유
      $(".shareFacebook").on("click", function() {
        const pageUrl = 'https://github.com/mbelDev/sharemusic';
        window.open(`http://www.facebook.com/sharer/sharer.php?u=${pageUrl}`)

      })

      // 카카오톡 공유
    </script>
  </main>
</html>
