<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="" layout:fragment="contents">
    <section class="boardWrite-page">
      <article class="boardWrite-page--form">
        <form action="/board/write" method="POST" th:object="${boardDto}">
          <div class="musicName">
            <div class="boardWrite-pag--item">
              <span>곡 이름</span>
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="곡 이름을 입력해주세요."
                aria-label=".form-control-lg example"
                name="postTitle"
              />
            </div>
            <div class="boardWrite-pag--item">
              <span>가수 이름</span>
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="가수 이름을 입력해주세요."
                aria-label=".form-control-lg example"
                name="postSinger"
              />
            </div>
          </div>
          <!-- musicName -->
          <span>장르</span>
          <div
            class="boardWrite-pag--item input-group"
            onclick="getModalWriteGenre()"
          >
            <input
              type="text"
              class="form-control"
              id="writePostGenre"
              name="postGenre"
              placeholder="장르를 선택해주세요."
              readonly
            />
          </div>
          <span>감성</span>
          <div
            class="boardWrite-pag--item input-group"
            onclick="getModalWriteEmote()"
          >
            <input
              type="text"
              class="form-control"
              id="writePostEmote"
              name="postEmote"
              placeholder="감성을 선택해주세요."
              readonly
            />
          </div>
          <div class="boardWrite-pag--item">
            <span>유튜브 링크</span>
            <input
              class="form-control form-control-lg postLink"
              type="text"
              placeholder="유튜브 링크를 입력해주세요."
              aria-label=".form-control-lg example"
              name="postLink"
            />
          </div>
          <div class="boardWrite-pag--item">
            <span>내용작성</span>
            <textarea
              rows="10"
              class="form-control"
              placeholder="설명 내용을 작성해주세요."
              id="floatingTextarea"
              name="postCont"
            ></textarea>
          </div>
          <div>
            <button type="submit" class="btn btnWriteConfirm">등록</button>
            <button class="btn">취소</button>
          </div>
        </form>
      </article>
    </section>
    <!-- boardWrite-page -->

    <!-- 장르 모달창 -->
    <div id="modalWriteGenre" class="modal-wnd">
      <div id="closeModalWriteGenre" class="modalContents modalCategory">
        <!-- 모달창 안에 여기 내용 작성 -->
        <div class="modalCategory__box">
          <div class="modalCategory__box__option" id="writeDance">
            <span>댄스/팝</span>
          </div>
          <div class="modalCategory__box__option" id="writeFolk">
            <span>포크/어쿠스틱</span>
          </div>
          <div class="modalCategory__box__option" id="writeIdol">
            <span>아이돌</span>
          </div>
          <div class="modalCategory__box__option" id="writeRap">
            <span>랩/힙합</span>
          </div>
          <div class="modalCategory__box__option" id="writeRB">
            <span>알앤비/소울</span>
          </div>
          <div class="modalCategory__box__option" id="writeElect">
            <span>일렉트로닉</span>
          </div>
          <div class="modalCategory__box__option" id="writeRock">
            <span>락/메탈</span>
          </div>
          <div class="modalCategory__box__option" id="writeJazz">
            <span>재즈</span>
          </div>
          <div class="modalCategory__box__option" id="writeIndie">
            <span>인디</span>
          </div>
          <div class="modalCategory__box__option" id="writeAdult">
            <span>성인가요</span>
          </div>
        </div>
      </div>
      <!-- ModalThis-content -->
    </div>
    <!-- 감성 모달창 -->
    <div id="modalWriteEmote" class="modal-wnd">
      <div id="closeModalWriteEmote" class="modalContents modalCategory">
        <!-- 모달창 안에 여기 내용 작성 -->
        <div class="modalCategory__box">
          <div class="modalCategory__box__option" id="writeExcite">
            <span>신남</span>
          </div>
          <div class="modalCategory__box__option" id="writeGloomy">
            <span>우울</span>
          </div>
          <div class="modalCategory__box__option" id="writeEcstasy">
            <span>희열</span>
          </div>
          <div class="modalCategory__box__option" id="writeSpooky">
            <span>으스스</span>
          </div>
          <div class="modalCategory__box__option" id="writeMagni">
            <span>웅장한</span>
          </div>
          <div class="modalCategory__box__option" id="writeCalm">
            <span>잔잔</span>
          </div>
          <div class="modalCategory__box__option" id="writeFlutter">
            <span>설렘</span>
          </div>
          <div class="modalCategory__box__option" id="writeSorrow">
            <span>애절한</span>
          </div>
          <div class="modalCategory__box__option" id="writeDreamy">
            <span>몽환적</span>
          </div>
          <div class="modalCategory__box__option" id="writeWarm">
            <span>따뜻한</span>
          </div>
        </div>
      </div>
      <!-- ModalThis-content -->
    </div>
    <!-- modal -->
  </main>
</html>
