<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="" layout:fragment="contents">
    <section class="boardWrite-page">
      <article class="boardWrite-page--form">
        <form action="/board/write" method="POST">
          <div class="musicName">
            <div class="boardWrite-pag--item">
              <span>곡 이름</span>
              <input class="form-control form-control-lg" type="text" placeholder="곡 이름을 입력해주세요." aria-label=".form-control-lg example" name="postTitle">
            </div>
            <div class="boardWrite-pag--item">
              <span>가수 이름</span>
              <input class="form-control form-control-lg" type="text" placeholder="가수 이름을 입력해주세요." aria-label=".form-control-lg example" name="postSinger">
            </div>
          </div><!-- musicName -->
          <span>장르</span>
          <div class="boardWrite-pag--item input-group">
            <input type="text" class="form-control" id="writePostGenre" name="postGenre" placeholder="장르를 선택해주세요" readonly/>
            <button id="modalWriteGenreBtn" class="btn btn-outline-secondary btn-primary" type="button">선택하기</button>
          </div>
          <span>감성</span>
          <div class="boardWrite-pag--item input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="postEmote" >
              <option value="신남">신남</option>
              <option value="우울">우울</option>
              <option value="희열">희열</option>
              <option value="으스스">으스스</option>
              <option value="etc">기타</option>
            </select>
            <button id="modalWriteEmoteBtn" class="btn btn-outline-secondary" type="button" >Button</button>
          </div>
          <div class="boardWrite-pag--item">
            <span>유튜브 링크</span>
            <input class="form-control form-control-lg" type="text" placeholder="유튜브 링크를 입력해주세요." aria-label=".form-control-lg example" name="postLink">
          </div>
          <div class="boardWrite-pag--item">
            <span>내용작성</span>
            <textarea rows="10" class="form-control" placeholder="설명 내용을 작성해주세요." id="floatingTextarea" name="postCont"></textarea>
          </div>
          <div>
            <button type="submit" class="btn btnWriteConfirm">등록</button>
            <button class="btn">취소</button>
          </div>
        </form>
      </article>
    </section>
    <!-- boardWrite-page -->

    <!-- 모달창 -->
    <div id="modalWriteGenre" class="modal-wnd">
      <div id="closeModalWriteGenre" class="modalContents modalCategory">
        <!-- 모달창 안에 여기 내용 작성 -->
        <div class="modalCategory__box">
          <span class="modalCategory__box__option" id="writeDance"
            >댄스/팝</span
          >
          <span class="modalCategory__box__option" id="writeFolk"
            >포크/어쿠스틱</span
          >
          <span class="modalCategory__box__option" id="writeIdol">아이돌</span>
          <span class="modalCategory__box__option" id="writeRap">랩/힙합</span>
          <span class="modalCategory__box__option" id="writeRB"
            >알앤비/소울</span
          >
          <span class="modalCategory__box__option" id="writeElect"
            >일렉트로닉</span
          >
          <span class="modalCategory__box__option" id="writeRock">락/메탈</span>
          <span class="modalCategory__box__option" id="writejazz">재즈</span>
          <span class="modalCategory__box__option" id="writeIndie">인디</span>
          <span class="modalCategory__box__option" id="writeAdult"
            >성인가요</span
          >
        </div>
      </div>
      <!-- ModalThis-content -->
    </div>
    <div id="modalWriteEmote" class="modal-wnd">
      <div id="closeModalWriteEmote" class="modalContents modalCategory">
        <!-- 모달창 안에 여기 내용 작성 -->
        <div class="modalCategory__box">
          <span class="modalCategory__box__option"
            ><a
              th:href="@{/mainPage/{genre}/{emote}(emote='신남', sort=postNo)}"
              >신남</a
            ></span
          >
          <span class="modalCategory__box__option"
            ><a
              th:href="@{/mainPage/{genre}/{emote}(emote='우울', sort=postNo)}"
              >우울</a
            ></span
          >
          <span class="modalCategory__box__option"
            ><a
              th:href="@{/mainPage/{genre}/{emote}(emote='희열', sort=postNo)}"
              >희열</a
            ></span
          >
          <span class="modalCategory__box__option"
            ><a href="">테스트용 버튼</a></span
          >
          <span class="modalCategory__box__option"
            ><a href="">테스트용 버튼</a></span
          >
          <span class="modalCategory__box__option"
            ><a href="">테스트용 버튼</a></span
          >
          <span class="modalCategory__box__option"
            ><a href="">테스트용 버튼</a></span
          >
          <span class="modalCategory__box__option"
            ><a href="">테스트용 버튼</a></span
          >
          <span class="modalCategory__box__option"
            ><a href="">테스트용 버튼</a></span
          >
        </div>
      </div>
      <!-- ModalThis-content -->
    </div>
    <!-- modal -->
  </main>
</html>
