<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <h1>글 쓰기</h1>
    <form action="" method="post">
        <span>곡 이름</span><input type="text">
        <span>가수 이름</span><input type="text">
        <span>설명(150자 이내)</span><input type="text">
        <span>유튜브 링크</span><input type="text">
        <span>장르</span><select name="musicGenre" id="">
            <option value="락">락</option>
            <option value="발라드">발라드</option>
            <option value="팝">팝</option>
            <option value="재즈">재즈</option>
            <option value="메탈">메탈</option>
            <option value="EDM">EDM</option>
            <option value="보컬로이드">보컬로이드</option>
        </select>
        <span>갬성</span><select name="musicGenre" id="">
            <option value="신남">신남</option>
            <option value="우울">우울</option>
            <option value="희열">희열</option>
            <option value="으스스">으스스</option>
        </select>
    </form>



</body>
</html>