<!DOCTYPE html>
<html
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Music</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/mainPage.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <link rel="stylesheet" href="/css/recent.css" />
    <link rel="stylesheet" href="/css/boardView.css" />
    <link rel="stylesheet" href="/css/boardModify.css" />
    <link rel="stylesheet" href="/css/boardWrite.css" />
    
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="/js/mainJs/layout.js" defer></script>
    <script src="/js/mainJs/mainPage.js" defer></script>
    <script src="/js/board/view.js" defer></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/mdb.min.js"></script>
    <script src="/js/jquery-3.6.3.min.js"></script>
    <script src="/js/modal.js"></script>

  </head>

  <body>
    <header class="container">
      <section id="headerLayout-Area">
        <article class="headerLayout-Area--logo">
          <div class="logo left-items">
            <a href="/mainPage"><img src="/images/logo.png" alt="logo" /></a>
          </div>
        </article>
        <!-- .headerLayout-Area--logo -->
        <article class="headerLayout-Area--infoForm">
          <div class="left-items">
              <!-- 기본 회원정보 -->
              <th:block th:unless="${loggedUser == null}">
                <div>
                  <img th:if="${loggedUser.userIconReal != null}" th:src="@{/upload/}+${loggedUser.userIconReal}" alt="" style="width: 150px; height: 150px;">
                  <img th:if="${loggedUser.userIconReal == null}" th:src="@{/images/sampleprofile.jpg}" alt="" style="width: 150px; height: 150px;">
                </div>
                <div>
                  <span th:text="${loggedUser.userNM}">별명</span>
                </div>
                <div>
                  <span th:text="${loggedUser.userID}">아이디</span>
                </div>
                <div>
                  <span th:text="${loggedUser.userDate}">가입일자</span>
                </div>
              </th:block>
          </div>
        </article><!-- .headerLayout-Area--searchForm -->
        <article class="headerLayout-Area--joinForm">
          <th:block th:if="${loggedUser == null}">
            <div class="join left-items lien">
              <a href="/member/login">로그인</a>
              <a href="/member/join">회원가입</a>
            </div>
          </th:block>
          <th:block th:unless="${loggedUser == null}">
            <div class="join left-items lien">
              <a href="/member/login">마이 페이지</a>
              <a href="/member/logout">로그아웃</a>
            </div>
          </th:block>
        </article>
        <!-- .headerLayout-Area--joinForm -->
        <article class="headerLayout-Area--searchForm">
          <div class="search left-items">
            <!-- 검색 기능 -->
            <form
              th:action="@{/mainPage/{genre}(genre=${genre}, sort=${param.sort})}"
            >
              <div class="input-group">
                <div class="form-outline">
                  <input type="hidden" name="sort" th:value="${param.sort}" />
                  <input
                    type="search"
                    id="form1"
                    class="form-control"
                    name="searchTxt"
                    placeholder="Search..."
                    value=""
                    th:value="${searchTxt}"
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  <img src="/images/search.svg" alt="" />
                </button>
              </div>
            </form>
          </div>
        </article>
        <!-- .headerLayout-Area--searchForm -->
        <article class="headerLayout-Area--viewContents">
          <div class="view left-items lien">
            <ul>
              <!-- <li>
                <a
                  th:href="@{/mainPage/{genre}(genre='락', sort=${param.sort}, searchTxt=${param.searchTxt})}"
                  >락</a
                >
              </li>
              <li>
                <a
                  th:href="@{/mainPage/{genre}(genre='발라드', sort=${param.sort}, searchTxt=${param.searchTxt})}"
                  >발라드</a
                >
              </li>
              <li>
                <a
                  th:href="@{/mainPage/{genre}(genre='팝', sort=${param.sort}, searchTxt=${param.searchTxt})}"
                  >팝</a
                >
              </li> -->
              <li><a href="#">월간 랭킹</a></li>
              <li><a href="#">주간 랭킹</a></li>
            </ul>
          </div>
        </article>
        <!-- .headerLayout-Area--viewContents -->
        <article class="headerLayout-Area--viewContents">
          <div class="view left-items lien">
            <ul>
              <li><a href="#">전체보기</a></li>
              <li id="modalGenreBtn"><a href="#">장르별 모아보기</a></li>
              <li id="modalEmoteBtn"><a href="#">감성별 모아보기</a></li>
            </ul>
          </div>
        </article>
        <!-- .headerLayout-Area--viewContents -->
        <article class="headerLayout-Area--viewContents">
          <div class="view left-items lien">
            <span>골라보기</span>
            <ul>
              <li><a href="#">북마크</a></li>
              <li><a href="#">좋아요</a></li>
              <li><a href="#">구독</a></li>
            </ul>
          </div>
        </article>
        <!-- .headerLayout-Area--viewContents -->
      </section>
      <!-- #headerLayout-Area -->
    </header>

    <main
      id="mainPage-Area"
      class="container"
      layout:fragment="contents"
    ></main>

    <footer class="container">
      <section id="footerLayout-Area"></section>
      <!-- #footerLayout-Area -->
    </footer>
      <!-- 모달창 -->
      <div id="modalGenre" class="modal-wnd">
          <div id="closeModalGenre" class="modalContents modalCategory">
            <!-- 모달창 안에 여기 내용 작성 -->
            <div class="modalCategory__box">
              <span class="modalCategory__box__option"><a th:href="@{/mainPage/{genre}(genre='락', sort=${param.sort}, searchTxt=${param.searchTxt})}">락</a></span>
              <span class="modalCategory__box__option"><a th:href="@{/mainPage/{genre}(genre='발라드', sort=${param.sort}, searchTxt=${param.searchTxt})}">발라드</a></span>
              <span class="modalCategory__box__option"><a th:href="@{/mainPage/{genre}(genre='팝', sort=${param.sort}, searchTxt=${param.searchTxt})}">팝</a></span>
              <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
              <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
              <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
              <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
              <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
              <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
            </div>
          </div>
          <!-- ModalThis-content -->
      </div>
      <div id="modalEmote" class="modal-wnd">
        <div id="closeModalEmote" class="modalContents modalCategory">
          <!-- 모달창 안에 여기 내용 작성 -->
          <div class="modalCategory__box">
            <span class="modalCategory__box__option"><a th:href="@{/mainPage/{genre}(genre='락', sort=${param.sort}, searchTxt=${param.searchTxt})}">신남</a></span>
            <span class="modalCategory__box__option"><a th:href="@{/mainPage/{genre}(genre='발라드', sort=${param.sort}, searchTxt=${param.searchTxt})}">우울</a></span>
            <span class="modalCategory__box__option"><a th:href="@{/mainPage/{genre}(genre='팝', sort=${param.sort}, searchTxt=${param.searchTxt})}">희열</a></span>
            <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
            <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
            <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
            <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
            <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
            <span class="modalCategory__box__option"><a href="">테스트용 버튼</a></span>
          </div>
        </div>
        <!-- ModalThis-content -->
      </div>
      <!-- modal -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script defer>
        getModal($("#modalGenreBtn"),$("#modalGenre"),$("#closeModalGenre"));
        getModal($("#modalEmoteBtn"),$("#modalEmote"),$("#closeModalEmote"));
    </script>
  </body>
</html>

<!-- 상세페이지 https://www.music-n.com/#section05 -->
