<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Music</title>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/mainPage.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
  <script src="/js/mainJs/layout.js" defer></script>
  <script src="/js/mainJs/mainPage.js" defer></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.3.min.js"></script>
  
</head>

<body>
  <header class="container">
    <section id="headerLayout-Area">
      <article class="headerLayout-Area--logo">
        <div class="logo left-items">
          <img src="/images/logo.png" alt="logo">
        </div>

      </article><!-- .headerLayout-Area--joinForm -->
      <article class="headerLayout-Area--infoForm">
        <div class="left-items">
            <th:block th:if="${loggedUser == null}">
              <!-- 기본 회원정보 -->
              <div>
                <img th:src="" alt="" style="width: 150px; height: 150px;">
                        </div>
                        <div>
                <span th:text="로그인 해 주세요">별명</span>

            </th:block>
            <th:block th:unless="${loggedUser == null}">
              <!-- 기본 회원정보 -->
              <div>
                <img th:src="@{uploadFolder/${memberDto.userIconReal}}" alt="" style="width: 150px; height: 150px;">
                        </div>
                        <div>
                <span th:text="${memberDto.userNM}">별명</span>
                        </div>
                        <div>
                <span th:text="${memberDto.userID}">아이디</span>
                        </div>
                        <div>
                <span th:text="${memberDto.userDate}">가입일자</span>
                        </div>
                        <div>
                <span th:text="${memberDto.userDate}">작성 글 갯수</span>
                        </div>
            </th:block>
        </div>
      </article><!-- .headerLayout-Area--searchForm -->

      </article><!-- .headerLayout-Area--logo -->
      <article class="headerLayout-Area--joinForm">
        <th:block th:if="${loggedUser == null}">
          <div class="join left-items lien">
            <a href="/member/login">로그인</a>
            <a href="/member/join">회원가입</a>
          </div>
        </th:block>
        <th:block th:unless="${loggedUser == null}">
          <div class="join left-items lien">
            <a href="/member/login">활동내역</a>
            <a href="/member/join">정보수정</a>
          </div>
        </th:block>
        

      <article class="headerLayout-Area--viewContents">
        <div class="view left-items lien">
          <ul>
            <li><a href="#">작성 글 목록</a></li>
            <li><a href="#">최근 감상 기록</a></li>
            <li><a href="#">리스트</a></li>
            <li><a href="#">테스트</a></li>
            <li><a href="#">테스트</a></li>
          </ul>
        </div>
      </article><!-- .headerLayout-Area--viewContents -->
      <article class="headerLayout-Area--viewContents">
        <div class="view left-items lien">
          <ul>
            <li><a href="#">회원정보 수정</a></li>
            <li><a href="#">회원 탈퇴</a></li>
            <li><a href="#">이용 약관</a></li>
          </ul>
        </div>
      </article><!-- .headerLayout-Area--viewContents -->
    </section><!-- #headerLayout-Area -->
  </header>

  <main id="mainPage-Area" class="container" layout:fragment="contents">
    
  </main>

  <footer class="container">
    <section id="footerLayout-Area">

    </section><!-- #footerLayout-Area -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</body>
</html>

<!-- 상세페이지 https://www.music-n.com/#section05 -->