<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Music</title>

  <link rel="shortcut icon" href="/images/favicon.jpg">
  <link rel="stylesheet" href="/font/apple/AppleSDGothicNeoH.ttf">
  <link rel="stylesheet" href="/font/apple/SF-Pro.ttf">
  <link href="https://webfontworld.github.io/TheJamsil/TheJamsil.css" rel="stylesheet">

  <link rel="stylesheet" href="/font/helvetica/HelveticaBlack.ttf">

  <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/mdb.min.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/mainPage.css" />
  <link rel="stylesheet" href="/css/mypage.css" />
  <link rel="stylesheet" href="/css/recent.css" />
  <link rel="stylesheet" href="/css/boardView.css" />
  <link rel="stylesheet" href="/css/boardModify.css" />
  <link rel="stylesheet" href="/css/boardWrite.css" />
  <link rel="stylesheet" href="/css/modal.css" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
  <script src="/js/mainJs/layout.js" defer></script>
  <script src="/js/mainJs/mainPage.js" defer></script>
  <script src="/js/board/view.js" defer></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/mdb.min.js"></script>
  <script src="/js/jquery-3.6.3.min.js"></script>
  <script src="/js/modal.js"></script>
  
</head>

<body>
  <div class="flex-box">
    <header id="headerLayout-Area" class="">
      <section class="headerLayout-Area--box">
        <article class="headerLayout-Area--logo topAndbut">
          <div class="logo left-items">
            <a href="/mainPage"><img src="/images/logo.png" alt="logo" /></a>
          </div>
        </article><!-- .headerLayout-Area--logo -->
        <article class="headerLayout-Area--infoForm topAndbut">
          <!-- 기본 회원정보 -->
          <th:block th:unless="${loggedUser == null}">
            <div class="infoForm-All line">
              <div class="infoForm-img">
                <a href="/member/mypage"><img th:if="${loggedUser.userIconReal != null}" th:src="@{/upload/}+${loggedUser.userIconReal}" alt=""></a>
                <a href=""><img th:if="${loggedUser.userIconReal == null}" th:src="@{/images/sampleprofile.jpg}" alt=""></a>
              </div><!-- infoForm-img -->
              <div class="infoForm-userNM">
                <span th:text="${loggedUser.userNM}">별명</span>
              </div><!-- infoForm-userNM -->
              <!-- <div class="infoForm-userID">
                <span th:text="${loggedUser.userID}">아이디</span>
              </div> infoForm-userID -->
              <!-- <div class="infoForm-userDate">
                <span th:text="${loggedUser.userDate}">가입일자</span>
              </div> infoForm-userDate -->
            </div>
          </th:block>
        </article><!-- .headerLayout-Area--infoForm -->
        <article class="headerLayout-Area--joinForm topAndbut">
          <th:block th:if="${loggedUser == null}">
            <div class="join line">
              <span><img src="/images/myimg.png" alt=""></span>
              <a href="/member/login"><span>로그인</span></a>
              <a href="/member/join"><span>회원가입</span></a>
            </div>
          </th:block>
          <th:block th:unless="${loggedUser == null}">
            <div class="join line">
              <a href="/member/login"><span>마이페이지</span></a>
              <a href="/member/logout"><span>로그아웃</span></a>
            </div>
          </th:block>
        </article><!-- .headerLayout-Area--joinForm -->
        <article class="headerLayout-Area--searchForm topAndbut">
          <div class="search left-items">
            <!-- 검색 기능 -->
            <form th:action="@{/mainPage/{genre}(genre=${genre}, sort=${param.sort})}">
              <div class="input-group">
                <div class="form-outline">
                  <input type="hidden" name="sort" th:value="${param.sort}" />
                  <input type="search" id="form1" class="form-control" name="searchTxt" placeholder="Music 검색" value="" th:value="${searchTxt}"/>
                </div>
                <button type="submit" class="btn btn-primary">
                  <img src="/images/search.svg" alt="" />
                </button>
              </div>
            </form>
          </div>
        </article><!-- .headerLayout-Area--searchForm -->
        <article class="headerLayout-Area--viewContents viewContents01 topAndbut">
          <div class="view view01 line">
            <ul>
              <!-- <li>
                <a th:href="@{/mainPage/{genre}(genre='락', sort=${param.sort}, searchTxt=${param.searchTxt})}">락
                </a>
              </li>
              <li>
                <a th:href="@{/mainPage/{genre}(genre='발라드', sort=${param.sort}, searchTxt=${param.searchTxt})}">발라드
                  </a>
              </li>
              <li>
                <a th:href="@{/mainPage/{genre}(genre='팝', sort=${param.sort}, searchTxt=${param.searchTxt})}">팝
                </a>
              </li> -->
              <li><div><img src="/images/navIcon01.png" alt=""><span>활동내역</span></div></li>
              <li><div><img src="/images/navIcon02.png" alt=""><span>정보수정</span></div></li>
            </ul>
          </div>
        </article><!-- .headerLayout-Area--viewContents -->
        <article class="headerLayout-Area--viewContents viewContents02 topAndbut">
          <div class="view view02">
            <ul>
              <li><div><img src="/images/navIcon03.png" alt=""><span><a th:href="@{/member/mypage/written}">작성 글</a></span></div></li>
              <li id="modalGenreBtn"><div><img src="/images/navIcon04.png" alt=""><span><a th:href="@{/member/mypage/list?category=recent}">최근감상</a></span></div></li>
              <li id="modalEmoteBtn"><div><img src="/images/navIcon06.png" alt=""><span><a th:href="@{/member/mypage/list?category=bookmark}">즐겨찾기</a></span></div></li>
              <li><div><img src="/images/navIcon08.png" alt=""><span><a th:href="@{/member/mypage/list?category=liked}">좋아요</a></span></div></li>
            </ul>
          </div>
        </article><!-- .headerLayout-Area--viewContents -->
        <article class="headerLayout-Area--viewContents viewContents03 topAndbut">
          <div class="view view03 line">
            <ul>
              <li><div><img src="/images/navIcon07.png" alt=""><span id="withdraw-btn">회원탈퇴</span></div></li>
              <li><div><img src="/images/navIcon09.png" alt=""><span>이용약관</span></div></li>
            </ul>
          </div>
        </article><!-- .headerLayout-Area--viewContents -->
      </section><!-- #headerLayout-Area -->

      <!-- 모바일 반응형 -->
      <section class="media855">
        <article class="media855-Area">
          <div class="media855-Area--img">
            <img src="/images/logo.png" alt="">
          </div><!-- media855-Area--img -->
          <div class="media855-Area--search">
            <form  th:if="${emote} == null" th:action="@{/mainPage/{genre}(genre=${genre}, sort=postNo)}">
              <input type="search" id="form1" class="" name="searchTxt" placeholder="Music 검색" value="" th:value="${searchTxt}">
              <button type="submit" class="btn btn-primary">
                <img src="/images/search.svg" alt="" />
              </button>
            </form>
            <div class="media855-Area--search-meun">
              <div class="meunClick">
                <span></span>
                <span></span>
                <span></span>
              </div><!-- meunClick -->
            </div><!-- media855-Area--meun -->
          </div><!-- media855-Area--search -->
        </article><!-- media855-Area -->
      </section><!-- media855 -->
    </header>
  
    <main id="mainPage-Area" class="" layout:fragment="contents">
    
    </main>

    <section><!-----------------------------------[     모달 섹션     ]----------------------------------->
          
    <!-- 너 진짜 탈퇴할거야? 모달창 -->
    <div id="withdrawModal" class="modal-wnd">
      <div class="modal-wnd-item modal-withdraw">
        <div class="modal-content">
          <span>정말로 회원 탈퇴를 진행하시겠습니까?</span>
          <span>이 행동은 되돌릴 수 없습니다. 탈퇴하신 ID는 더 이상 이용하실 수 없으며 새로운 계정을 만드실 때에도 사용하실 수 없습니다.</span>
          <span>위 모든 사항을 이해하시고<em> 정말로 탈퇴를 원하신다면</em> 확인을 위하여 본인의 계정과 비밀번호를 한번 더 입력해 주십시오.</span>
          <div class="modal-btns">
            <span></span>
            <input type="text" name="userID" id="userID" placeholder="유저 아이디">
            <input type="password" name="userPW" id="userPW" placeholder="유저 패스워드">
            <button onclick="withdraw()">회원 탈퇴</button>
            <button id="withdrawModal-close">되돌아가기</button>
        </div>
        </div>
      </div>
    </div>

    </section>


  </div>


  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script>
    getModal($("#withdraw-btn"),$("#withdrawModal"),$("#withdrawModal-close"));

    function withdraw(){
      $.ajax({
        url:"/member/withdraw",
        type:"POST",
        data:{
          "userID" : $("#userID").val(),
          "userPW" : $("#userPW").val()
        },
        success:function(response){
          console.log(response);
          switch(response){
            case -1:
              alert("회원 정보가 일치하지 않습니다.");
              break;
            case 0:
              break;
            case 1 :
              alert("감히 이 개쩌는 서비스를 탈퇴하다니 지옥에서 다시 만나자.");
              location.href="/memeber/logout";
              break;
          }
          
        },
        error:function(err){
          console.log(err);
        }
      })
    }
  </script>
</body>
</html>

<!-- 상세페이지 https://www.music-n.com/#section05 -->