<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="" layout:fragment="contents">
    <!-- <span th:text="${postList}"></span> -->
    <section class="main-constent--itmes">
      <div class="main-constent--itmes-center">
        <article class="main-constent--ranking">
          <div class="ranking-area topAndbut">
            <!-- 상위 랭킹 -->
            <h1 class="topAndbut">랭킹</h1>
            <div class="ranking-box topAndbut">
              <div class="swiper mySwiper">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide" th:each="item, i : ${rankList}">
                    <a
                      href="/board/view"
                      th:href="@{/board/view(postNo=${item.postNo})}"
                    >
                      <div class="swiper-title">
                        <img
                          th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}"
                        />
                        <div class="swiper-title-num">
                          <!-- <p class="" th:text="${i.count}">랭킹넘버</p> -->
                          <p class="" th:if="${i.count == 1}">
                            <img src="/images/num01.png" alt="" />
                          </p>
                          <p class="" th:if="${i.count == 2}">
                            <img src="/images/num02.png" alt="" />
                          </p>
                          <p class="" th:if="${i.count == 3}">
                            <img src="/images/num03.png" alt="" />
                          </p>
                        </div>
                        <!-- swiper-title-num -->
                        <div class="swiper-txt">
                          <div class="swiper-txts">
                            <div class="swiper-txts--postTitle">
                              <p class="" th:text="${item.postSinger}">
                                가수이름
                              </p>
                              <p class="" th:text="${item.postTitle}">곡이름</p>
                            </div>
                            <div class="swiper-txts--postAuth">
                              <p class="" th:text="${item.postAuth}">별명</p>
                            </div>
                          </div>
                        </div>
                        <!-- swiper-txt -->
                      </div>
                      <!-- swiper-title -->
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- ranking-box -->
          </div>
          <!-- ranking-area -->
        </article>
        <!-- main-constent--ranking -->
        <div class="line-one" id="musicList"></div>
        <article class="main-constent--listItem listItem--center">
          <div class="listItem-nav">
            <h1 class="topAndbut">뮤직리스트</h1>
            <div class="update-data topAndbut">
              <!-- 정렬 -->
              <ul>
                <li>
                  <a
                    href="#"
                    th:href="@{/mainPage/{category}(category=${category}, sort=postDate, searchTxt=${param.searchTxt})}"
                    >최신순</a
                  >
                </li>
                <li class="sortHits">
                  <a
                    href="#"
                    th:href="@{/mainPage/{category}(category=${category}, sort=postHits, searchTxt=${param.searchTxt})}"
                    >조회순</a
                  >
                </li>
                <li class="sortLike">
                  <a
                    href="#"
                    th:href="@{/mainPage/{category}(category=${category}, sort=postLike, searchTxt=${param.searchTxt})}"
                    >추천순</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- listItem-nav -->
          <div class="getList-ItemBox">
            <ul id="test">
              <li th:each="item : ${postList}">
                <a
                  href="/board/view"
                  th:href="@{/board/view(postNo=${item.postNo})}"
                >
                  <div class="ItemBox-imgs">
                    <img
                      th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}"
                    />
                  </div>
                  <!-- ItemBox-imgs -->
                  <div class="ItemBox-content">
                    <p class="ItemBox-postSinger" th:text="${item.postSinger}">
                      가수이름
                    </p>
                    <p class="ItemBox-postTitle" th:text="${item.postTitle}">
                      곡이름
                    </p>
                    <div>
                      <img class="ItemBox-postAuthIcon" th:src="@{/upload/}+${item.postAuthIcon}" alt="" style="width:30px; height:30px;">
                      <p class="ItemBox-postAuth" th:text="${item.postAuth}">
                        별명
                    </span>
                    </p>
                    <p class="ItemBox-postHits" th:text="'조회수 : '+${item.postHits}"></p>
                  </div>
                  <!-- ItemBox-content -->
                </a>
              </li>
            </ul>
          </div>
          <!-- getList-ItemBox -->
        </article>
        <!-- main-constent--listItem -->
      </div>
    </section>
    <!-- main-constent--itmes -->

    <script th:inline="javascript">
      // 정렬, 검색할 때 스크롤 이동, 정렬
      $(document).ready(function () {
        const location = $("#musicList").offset().top;
        const sort = /*[[${param.sort}]]*/ false;
        const searchTxt = /*[[${param.searchTxt}]]*/ false;

        if (sort != null) {
          window.scrollTo({ top: location, behavior: "auto" });
        }
        if (searchTxt != null) {
          window.scrollTo({ top: location, behavior: "auto" });
        }

        if (sort == 'postDate' || sort == null) {
          $(".sortDate").addClass("selected");
          $(".sortHits").removeClass("selected");
          $(".sortLike").removeClass("selected");
        } else if (sort == 'postHits') {
          $(".sortDate").removeClass("selected");
          $(".sortHits").addClass("selected");
          $(".sortLike").removeClass("selected");
        } else if (sort == 'postLike') {
          $(".sortDate").removeClass("selected");
          $(".sortHits").removeClass("selected");
          $(".sortLike").addClass("selected");
        }
      });
    </script>
    <script>
      function testRespone01(genre) {
        $.ajax({
          url: "/reload/" + genre,
          type: "GET",
          data: {
            genre: genre,
            searchTxt: "",
            sort: "postNo",
          },
          async: false,
          success: function (response) {
            console.log(response);
          },
        }).done(function (fragment) {
          $("#test").replaceWith(fragment);
        });
      }
    </script>
    <script>
      function testRespone02(category, searchTxt, sort) {
        $.ajax({
          url: "/reload/",
          type: "POST",
          data: {
            category: category,
            searchTxt: searchTxt,
            sort: sort,
          },
          async: false,
          success: function (response) {
            console.log(response);
          },
        }).done(function (fragment) {
          $("#test").replaceWith(fragment);
        });
      }
    </script>

    <!--  좋아요/북마크/팔로우 AJAX 컨트롤  #권인호  -->
    <script>
      function testRespone02(category, searchTxt, sort) {
        $.ajax({
          url: "/reload/",
          type: "POST",
          data: {
            category: category,
            searchTxt: searchTxt,
            sort: sort,
          },
          async: false,
          success: function (response) {
            console.log(response);
          },
        }).done(function (fragment) {
          $("#test").replaceWith(fragment);
        });
      }
    </script>
  </main>
</html>
