<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="container" layout:fragment="contents">
    <!-- <span th:text="${postList}"></span> -->
    <section class="main-constent--itmes">
      <article class="main-constent--slider">
        <!-- 상위 랭킹 -->
        <div class="swiper">
          <ul class="swiper-wrapper">
            <li th:each="item, i : ${rankList}" class="swiper-slide">
              <a
                href="/board/view"
                th:href="@{/board/view(postNo=${item.postNo})}"
              >
                <div class="" th:text="${i.count}"></div>
                <div class="">
                  <img
                    th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}"
                    alt=""
                  />
                </div>
                <!-- ItemBox-imgs -->
                <div class="">
                  <p class="" th:text="${item.postAuth}"></p>
                  <p class="" th:text="${item.postTitle}"></p>
                  <p class="" th:text="${item.postSinger}"></p>
                </div>
                <!-- ItemBox-content -->
              </a>
            </li>
          </ul>
        </div>
      </article>
      <!-- main-constent--slider -->
      <article class="main-constent--listItem listItem--center">
        <div class="listItem-nav">
          <div class="listItem-nav--title">매거진</div>
          <div class="update-data">
            <ul>
              <!-- 정렬 -->
              <li>
                <a
                  href="#"
                  th:href="@{/mainPage/{genre}(genre=${genre}, sort=postNo, searchTxt=${param.searchTxt})}"
                  >최신순</a
                >
              </li>
              <li>
                <a
                  href="#"
                  th:href="@{/mainPage/{genre}(genre=${genre}, sort=postHits, searchTxt=${param.searchTxt})}"
                  >조회순</a
                >
              </li>
              <li>
                <a
                  href="#"
                  th:href="@{/mainPage/{genre}(genre=${genre}, sort=postLike, searchTxt=${param.searchTxt})}"
                  >추천순</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- listItem-nav -->
        <div class="getList-ItemBox">
          <ul>
            <li th:each="item : ${postList}">
              <a href="/board/view" th:href="@{/board/view(postNo=${item.postNo})}">
                <div class="ItemBox-imgs">
                  <img
                    th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}"
                    alt=""
                  />
                </div>
                <!-- ItemBox-imgs -->
                <div class="ItemBox-content">
                  <p class="ItemBox-postAuth" th:text="${item.postAuth}"></p>
                  <p class="ItemBox-postTitle" th:text="${item.postTitle}"></p>
                  <p
                    class="ItemBox-postSinger"
                    th:text="${item.postSinger}"
                  ></p>
                </div>
                <!-- ItemBox-content -->
              </a>
            </li>
          </ul>
        </div>
        <!-- getList-ItemBox -->
      </article>
      <!-- main-constent--listItem -->
    </section>
    <!-- main-constent--itmes -->


  </main>
</html>
