<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="mypage-Area" layout:fragment="contents">
    <section class="monthRanking">
      <div class="monthRanking-page topAndbut">
        <h2>월간랭킹</h2>
        <!-- 날짜이동버튼 -->
        <div id="month">
          <span class="material-icons prevMonth" onclick="prevMonth()">
            west
          </span>
          <div id="monthDate">
            <span th:text="${monthDate[STARTDATE]}">시작 날짜</span>
            <span>~</span>
            <span th:text="${monthDate[LASTDATE]}">끝 날짜</span>
          </div>
          <span class="material-icons nextMonth" onclick="nextMonth()">
            east
          </span>
        </div>
        <!-- List 데이터 -->
        <div id="monthRankList" class="monthRankList">
          <ul>
            <li th:each="item : ${monthRankList}">
              <div class="postTxt">
                <div class="postTxt-no">
                  <p class="" th:text="${itemStat.index+1}">넘버</p>
                </div>
                <div class="postTxt-img">
                  <img
                    class=""
                    th:src="@{/upload}+@{item.postAuthIcon}"
                    alt=""
                  />
                </div>
                <div class="postTxt-title">
                  <p class="" th:text="${item.postAuth}">별명</p>
                  <p class="" th:text="${item.postSinger}">가수이름</p>
                  <p class="" th:text="${item.postTitle}">곡이름</p>
                </div>
              </div>
              <div class="postTitle">
                <a th:href="@{/board/view(postNo=${item.postNo})}">
                  <img
                    th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}"
                  />
                </a>
                <div class="postTitle-sub">
                  <a href="">
                    <span><p class="btnHover btn btn-primary">자세히 보기</p></span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- monthRanking -->
    <script th:inline="javascript">
      let moveMonth;

      if (window.performance && window.performance.navigation.type == 1) {
        sessionStorage.clear();
      }

      if (sessionStorage.getItem("moveMonth") != null) {
        moveMonth = sessionStorage.getItem("moveMonth");
        showMonthRank(sessionStorage.getItem("moveMonth"));
      } else {
        moveMonth = 0;
      }

      if (moveMonth == 0) {
        $(".nextMonth").hide();
      }

      function prevMonth() {
        moveMonth--;
        $(".nextMonth").show();
        showMonthRank(moveMonth);
      }

      function nextMonth() {
        if (moveMonth == -1) {
          $(".nextMonth").hide();
        }
        moveMonth++;
        showMonthRank(moveMonth);
      }

      function showMonthRank(moveMonth) {
        console.log("showMonthRank", moveMonth);
        $.ajax({
          url: "/reload/monthRanking",
          type: "POST",
          data: {
            moveMonth: moveMonth,
          },
          async: false,
          success(response) {
            $.ajax({
              url: "/reload/moveDate",
              type: "POST",
              data: {
                dateType: "month",
                moveDate: moveMonth,
              },
              async: false,
            }).done(function (fragment) {
              $("#monthDate").replaceWith(fragment);
            });
          },
        }).done(function (fragment) {
          sessionStorage.setItem("moveMonth", moveMonth);
          $("#monthRankList").replaceWith(fragment);
        });
      }
    </script>
  </main>
</html>
