<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="mypage-Area" layout:fragment="contents">
    <section class="monthRanking">
      <div class="monthRanking-page topAndbut">
        <h2>월간랭킹</h2>
      </div>
      <!-- monthRanking-page -->
      <article class="monthRanking-Area monthRanking-Area01">
        <div class="monthRanking-Area--no">
          <p></p>
        </div>
        <!-- monthRanking-Area--no -->
      </article>
      <!-- monthRanking-Area -->
      <article class="monthRanking-Area monthRanking-Area02">
        <div class="monthRanking-Area--no">
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!-- monthRanking-Area--no -->
      </article>
      <!-- monthRanking-Area -->
      <article class="monthRanking-Area monthRanking-Area03">
        <div class="monthRanking-Area--no">
          <ul>
            <li></li>
          </ul>
        </div>
        <!-- monthRanking-Area--no -->
      </article>
      <!-- monthRanking-Area -->
    </section>
    <!-- monthRanking -->

    <!-- 데이터 -->
    <div>
      <ul>
        <li th:each="item : ${monthRankList}">
          <a th:href="@{/board/view(postNo=${item.postNo})}">
            <img
              th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}"
            />
            <p class="" th:text="${item.postTitle}">곡이름</p>
            <p class="" th:text="${item.postSinger}">가수이름</p>
            <p class="" th:text="${item.postAuth}">별명</p>
          </a>
        </li>
      </ul>
    </div>
  </main>
</html>
