<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}">
<main id="mainPage-Area" class="mypage-Area" layout:fragment="contents">
  <section class="weeklyRanking">
    <div class="weeklyRanking-page topAndbut">
      <h2>주간랭킹</h2>
    </div><!-- weeklyRanking-page -->
    <article class="weeklyRanking-Area">
      <ul>
        <li>
          
        </li>
      </ul>
    </article><!-- weeklyRanking-Area -->
  </section><!-- weeklyRanking -->
</main>