<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="mypage-Area" layout:fragment="contents">
    <section class="weeklyRanking monthRanking">
      <div class="weeklyRanking-page topAndbut">
        <h2>주간랭킹</h2>
        <!-- weeklyRanking-page -->
        <article class="weeklyRanking-Area">
          <div id="weekly">
            <span class="material-icons prevWeekly" onclick="prevWeekly()"
              >west</span
            >
            <div id="weeklyDate">
              <span th:text="${weeklyDate[STARTDATE]}">시작 날짜</span>
              <span>~</span>
              <span th:text="${weeklyDate[LASTDATE]}">끝 날짜</span>
            </div>
            <span class="material-icons nextWeekly" onclick="nextWeekly()"
              >east</span
            >
          </div>
          
          <div id="weeklyRankList" class="monthRankList">
            <ul>
              <li th:each="item : ${weeklyRankList}">
                <div class="postTxt">
                  <div class="postTxt-no">
                    <p class="" th:text="${itemStat.index+1}">넘버</p>
                  </div>
                  <div class="postTxt-img">
                    <img
                      class=""
                      th:src="@{/upload}+@{item.postAuthIcon}"
                      alt=""
                    />
                  </div>
                  <div class="postTxt-title">
                    <p class="" th:text="${item.postAuth}">별명</p>
                    <p class="" th:text="${item.postSinger}">가수이름</p>
                    <p class="" th:text="${item.postTitle}">곡이름</p>
                  </div>
                </div>
                <div class="postTitle">
                  <a th:href="@{/board/view(postNo=${item.postNo})}">
                    <img
                      th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}"
                    />
                  </a>
                  <div class="postTitle-sub">
                    <a href="">
                      <span><p class="btnHover btn btn-primary">자세히 보기</p></span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <!-- weeklyRanking-Area -->
    </section>
    <!-- weeklyRanking -->

    <script>
      let moveWeekly;

      if (window.performance && window.performance.navigation.type == 1) {
        sessionStorage.clear();
      }

      if (sessionStorage.getItem("moveWeekly") != null) {
        moveWeekly = sessionStorage.getItem("moveWeekly");
        showWeeklyRank(sessionStorage.getItem("moveWeekly"));
      } else {
        moveWeekly = 0;
      }

      if (moveWeekly == 0) {
        $(".nextWeekly").hide();
      }

      function prevWeekly() {
        moveWeekly--;
        $(".nextWeekly").show();
        showWeeklyRank(moveWeekly);
      }

      function nextWeekly() {
        if (moveWeekly == -1) {
          $(".nextWeekly").hide();
        }
        moveWeekly++;
        showWeeklyRank(moveWeekly);
      }

      function showWeeklyRank(moveWeekly) {
        console.log("showWeeklyRank", moveWeekly);
        $.ajax({
          url: "/reload/weeklyRanking",
          type: "POST",
          data: {
            moveWeekly: moveWeekly,
          },
          async: false,
          success(response) {
            $.ajax({
              url: "/reload/moveDate",
              type: "POST",
              data: {
                dateType: "seekly",
                moveDate: moveWeekly,
              },
              async: false,
            }).done(function (fragment) {
              $("#weeklyDate").replaceWith(fragment);
            });
          },
        }).done(function (fragment) {
          sessionStorage.setItem("moveWeekly", moveWeekly);
          $("#weeklyRankList").replaceWith(fragment);
        });
      }
    </script>
  </main>
</html>
