<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layout.html}"
>
  <main id="mainPage-Area" class="mypage-Area" layout:fragment="contents">
    <section class="weeklyRanking">
      <div class="weeklyRanking-page topAndbut">
        <h2>주간랭킹</h2>
      </div>
      <!-- weeklyRanking-page -->
      <article class="weeklyRanking-Area">
        <ul>
          <li th:each="item : ${weeklyRankList}">
            <a th:href="@{/board/view(postNo=${item.postNo})}">
              <img
                th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}"
              />
              <p class="" th:text="${item.postTitle}">곡이름</p>
              <p class="" th:text="${item.postSinger}">가수이름</p>
              <p class="" th:text="${item.postAuth}">별명</p>
            </a>
          </li>
        </ul>
      </article>
      <!-- weeklyRanking-Area -->
    </section>
    <!-- weeklyRanking -->
  </main>
</html>
