<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layoutMember.html}">
<main id="mainPage-Area" class="mypage-Area" layout:fragment="contents">
  <section class="mainContent"> <!-----------------------[   정보 섹션   ]----------------------------------->
    <article class="mainContent-Area01">
      <div class="mainContent-Area01-title">
        <h1 class="topAndbut">회원정보</h1>
      </div><!-- mainConstent-Area-title -->
      <div class="mainContent-Area01-item">
        <div class="Area01-item--profile"> 
          <div class="Area01-item--profile-img topAndbut">
            <img th:src="@{/upload/}+${userInfo.userIconReal}" id="updateProfile-img">
            <div class="fileArea" th:if="${session.loggedUser.userID == userInfo.userID}">
              <label class="btn btn-primary" id="profile-Btn" onclick="setBaseIcon();">프로필 사진 업데이트</label> 
            </div><!-- fileArea -->
            <div class="fileArea" th:unless="${session.loggedUser.userID == userInfo.userID}">
              <label class="btn btn-primary btn-follow" th:data-followID="${userInfo.userID}">이 유저 팔로우하기</label> 
            </div><!-- fileArea -->
          </div><!-- Area01-item--profile-img -->
          <div class="Area01-item--profile-form topAndbut">
            <div class="formArea">
              <span>닉네임</span>
              <span id="originalProfile-userNM" th:text="${userInfo.userNM}"></span>
              <form id="updateProfile-userNM" class="hidden" th:if="${loggedUser.userID == userInfo.userID}">
                <input type="text" name="userNM" id="userNM" th:placeholder="${loggedUser.userNM}">
                <input type="hidden" name="userIcon" id="userIcon" th:value="default">
                <button class="btn btn-primary" id="profile-userNM" onclick="updateUserNM();">수정 완료</button>
                <label class="btn btn-secondary" id="profile-cancel" onclick="closeInputNM();">취소</label>
              </form>
              <!-- <span>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
              </span> -->
              <span th:if="${loggedUser.userID == userInfo.userID}" id="profile-modify"><button class="btn btn-primary" onclick="openInputNM();">수정</button></span>
            </div><!-- formArea -->
            <div class="formArea">
              <span>아이디</span>
              <span th:text="${userInfo.userID}"><input type="text" disabled>
                <input class="form-control" type="text" placeholder="" aria-label="Disabled input example" disabled>
              </span>
            </div><!-- formArea -->
            <div class="formArea formArea-bt">
              <div class="formArea-sub">
                <p>가입일</p>
                <spna th:text="${userInfo.userDate}">0</spna>
              </div>
              <div class="formArea-sub">
                <p>작성 글</p>
                <spna th:text="${userInfo.userPosts}">0</spna>
              </div>
              <div class="formArea-sub">
                <p>작성덧글</p>
                <spna th:text="${userInfo.userReplys}">0</spna>
              </div>
              <div class="formArea-sub">
                <p>받은추천</p>
                <spna th:text="${userInfo.userLiked}">0</spna>
              </div>
            </div><!-- formArea -->
          </div><!-- Area01-item--profile-form -->
        </div><!-- Area-item--profile -->
      </div><!-- mainConstent-Area-item -->
    </article><!-- mainConstent-Area01 -->
    <div class="line-one"></div>


    <article class="mainContent-Area02">
      <div class="mainContent-Area02-title topAndbut">
        <h1>작성 글</h1>
        <button class="btn btn-primary"><a th:href="@{/member/mypage/written}">더 보기</a></button>
      </div><!-- mainConstent-Area02-title -->
      <div class="mainContent-Area02-item">
        <div class="Area02-item--profile">
          <div class="Area02-item--profile-list topAndbut">
            <div class="swiper mySwiper profileMySwiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide" th:each="item : ${userInfo.userHistoryList.listWritten}">
                  <a th:href="@{/board/view(postNo=${item.postNo})}"><img th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}">
                    <div class="profile-list">
                      <div class="profile-list-txt">
                        <p th:text="${item.postAuth}"></p>
                        <p th:text="${item.postTitle}"></p>
                        <p th:text="${item.postDate}"></p>
                      </div>
                    </div><!-- profile-list -->
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- Area02-item--profile-img -->
        </div><!-- Area02-item--profile -->
      </div><!-- mainConstent-Area02-item -->
    </article><!-- mainContent-Area02 -->
    <article class="mainContent-Area02">
      <div class="mainContent-Area02-title topAndbut">
        <h1>최근 감상한 곡</h1>
        <button class="btn btn-primary"><a th:href="@{/member/mypage/list?category=recent}">더 보기</a></button>
        <button class="btn btn-secondary" th:if="${session.loggedUser.userID == userInfo.userID}">전체 기록 삭제</button>
      </div><!-- mainConstent-Area02-title -->
      <div class="mainContent-Area02-item">
        <div class="Area02-item--profile">
          <div class="Area02-item--profile-list topAndbut">
            <div class="swiper mySwiper profileMySwiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide" th:each="item : ${userInfo.userHistoryList.listRecent}">
                  <a th:href="@{/board/view(postNo=${item.postNo})}"><img th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}">
                    <div class="profile-list">
                      <div class="profile-list-txt">
                        <p th:text="${item.postAuth}"></p>
                        <p th:text="${item.postTitle}"></p>
                        <p th:text="${item.readDate}"></p>
                      </div>
                    </div><!-- profile-list -->
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- Area02-item--profile-img -->
        </div><!-- Area02-item--profile -->
      </div><!-- mainConstent-Area02-item -->
    </article><!-- mainContent-Area02 -->
    <article class="mainContent-Area02">
      <div class="mainContent-Area02-title topAndbut">
        <h1>북마크 한 곡</h1>
        <button class="btn btn-primary"><a th:href="@{/member/mypage/list?category=bookmark}">더 보기</a></button>
      </div><!-- mainConstent-Area02-title -->
      <div class="mainContent-Area02-item">
        <div class="Area02-item--profile">
          <div class="Area02-item--profile-list topAndbut">
            <div class="swiper mySwiper profileMySwiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide" th:each="item : ${userInfo.userHistoryList.listBookmark}">
                  <a th:href="@{/board/view(postNo=${item.postNo})}"><img th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}">
                    <div class="profile-list">
                      <div class="profile-list-txt">
                        <p th:text="${item.postAuth}"></p>
                        <p th:text="${item.postTitle}"></p>
                        <p th:text="${item.readDate}"></p>
                      </div>
                    </div><!-- profile-list -->
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- Area02-item--profile-img -->
        </div><!-- Area02-item--profile -->
      </div><!-- mainConstent-Area02-item -->
    </article><!-- mainContent-Area02 -->
    <article class="mainContent-Area02">
      <div class="mainContent-Area02-title topAndbut">
        <h1>좋아요를 표시한 곡</h1>
        <button class="btn btn-primary"><a th:href="@{/member/mypage/list?category=liked}">더 보기</a></button>
      </div><!-- mainConstent-Area02-title -->
      <div class="mainContent-Area02-item">
        <div class="Area02-item--profile">
          <div class="Area02-item--profile-list topAndbut">
            <div class="swiper mySwiper profileMySwiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide" th:each="item : ${userInfo.userHistoryList.listLiked}">
                  <a th:href="@{/board/view(postNo=${item.postNo})}"><img th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}">
                    <div class="profile-list">
                      <div class="profile-list-txt">
                        <p th:text="${item.postAuth}"></p>
                        <p th:text="${item.postTitle}"></p>
                        <p th:text="${item.readDate}"></p>
                      </div>
                    </div><!-- profile-list -->
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- Area02-item--profile-img -->
        </div><!-- Area02-item--profile -->
      </div><!-- mainConstent-Area02-item -->
    </article><!-- mainContent-Area02 -->
    
  </section><!-- mypage-Area--section -->


  <section><!-----------------------[   모달 섹션   ]----------------------------------->


    <!-- 프로필 사진 업데이트 모달창 -->
    <div id="profileUpdateModal" class="modal-wnd">
      <div class="modal-profileUpdate">
        <div class="modal-content">
          <!-- 모달창 안에 여기 내용 작성 -->
          <div class="modal-profileUpdate__icon">
            <p id="previewIcon"><img th:src="@{/upload/}+${userInfo.userIconReal}" id="testProfile"></p>
    
            <label class="btn btn-primary btn-profile" for="formFileMultiple">파일 선택</label>
            <label class="btn btn-secondary btn-profile" id="fileRemove" onclick="removeIcon();">파일 제거</label>
            <form id="updateProfile-uploadFile">
              <input
              type="file"
              class="userIconFile"
              id="formFileMultiple"
              style="display:none;"
              name="userIconFile"
              onchange="setIcon(event);"
                      />
            </form>
          </div>
          <div class="modal-profileUpdate__btns">
            <button id="updateProfileConfirm" onclick="updateProfile();">확인</button>
            <button id="profileUpdateModal-close">취소</button>
          </div>
        </div>
      </div>
    </div>

  </section><!-----------------------[   모달 섹션   ]----------------------------------->

  <script src="/js/modal.js"></script>
  <script src="/js/history/up-to-history.js"></script>
  <script>
    getModal($("#profile-Btn"),$("#profileUpdateModal"),$("#profileUpdateModal-close"));
    followEvent();
   
  </script>
</main>
