<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layoutMember.html}">
  <main id="mainPage-Area" class="container" layout:fragment="contents">
    <section class="main-constent--itmes">
        <div style="display: flex; align-content: center; flex-direction: column;">
            <span th:text="${memberDto}"></span>
            <span th:text="${History}"></span>

                <div style="display: flex; justify-content: center;">
                    <!-- 작성 글 목록 -->
                    <!--   BOARD에서 POSTAUTH = USERID인 것들 불러오기 -->
                    <ul>
                        
                        <li>
                            <img src="" alt="" style="display:inline-block; width:246px; height: 138px;">
                            <span>곡 명</span>
                            <span>가수명</span>
                            <span>작성자</span>
                            <span>조회수</span>
                            <span>시청일자</span>
                            <span>추천수</span>
                            <span>추천버튼</span>
                        </li>
                        <li th:each="item:${historyRecent}">
                            <img src="" alt="" style="display:inline-block; width:246px; height: 138px;">
                            <span th:text="${item.postAuth}">작성자</span>
                            <span th:text="${item.postTitle}">곡 명</span>
                            <span th:text="${item.readDate}">시청일자</span>
                            <span th:text="${item.liked}">추천버튼</span>
                            <span th:text="${item.bookmark}">북마크버튼</span>
                        </li>
                    </ul>
                </div>

                <div style="display: flex; justify-content: center;">
                    <!-- 좋아요 누른 글 목록 -->
                    <!-- BOARD_RECORD에서 WHERE LIKE = 1 의 POSTNO를 받아오기. -->
                </div>
            </div>
    </section><!-- main-constent--itmes -->
  </main>
</html>
