<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layoutMember.html}">
  <main id="mainPage-Area" class="container" layout:fragment="contents">
    <section class="recent-page">
      <article class="recent-page--listBox">
        <div class="recent-page--list">
          <h2 class="category-title" th:if="${#strings.equals(param.category,'recent')}" >최근 감상 기록</h2>
          <h2 class="category-title" th:if="${#strings.equals(param.category,'follow')}" >팔로우 목록</h2>
          <h2 class="category-title" th:if="${#strings.equals(param.category,'bookmark')}" >북마크 목록</h2>
          <h2 class="category-title" th:if="${#strings.equals(param.category,'liked')}" >좋아요를 누른 기록</h2>

          <ul>
            <input class="val-userID" type="hidden" th:value="${loggedUser.userID}">
            <li th:each="item:${historyList}">
              <a th:href="@{/board/view(postNo=${item.postNo})}">
                <div class="recent-listImg--box">
                  <div class="recent-listImg--img">
                    <img th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}">
                  </div><!-- .recent-listImg--img -->
                  <div class="recent-listImg--content">
                    <input class="val-postNo" type="hidden" th:value="${item.postNo}">
                    <div class="recent-music--title-All">
                      <div class="recent-music--title recent-music--title01">
                        <div>
                          <p th:text="${item.postTitle}">곡 명</p>
                          <p th:text="${item.postSinger}">가수 명</p>
                        </div>
                      </div>
                      <div class="recent-music--title recent-music--title02">
                        <p th:text="${item.postAuth}">작성자</p>
                        <p th:text="${item.readDate}">시청일자</p>
                      </div>
                    </div>
                    <div class="liLine"></div>
                  </div><!-- .recent-listImg--content -->
                </div><!-- .recent-listImg--box -->
              </a>
              <div class="btns">
                <input type="button" class="btn-like" style="display:inline-block; width:15px; height:15px; background:#fff" th:data-userID="${loggedUser.userID}" th:data-postNo="${item.postNo}" th:data-liked="${item.liked}">
                </input>
                <input type="button" class="btn-bookmark" style="display:inline-block; width:15px; height:15px; background:#777" th:data-userID="${loggedUser.userID}" th:data-postNo="${item.postNo}" th:data-bookmark="${item.bookmark}">
                </input>
              </div>
            </li>
            <li th:if="${#lists.isEmpty(historyList)}">
              <div style="display:block; height:200px; width: 600px; border: 1px solid #fff; text-align: center;">
                <span class="category-no-content" th:if="${#strings.equals(param.category,'recent')}" >최근 열람하신 곡이 한 곡도 없어요!!</span>
                <span class="category-no-content" th:if="${#strings.equals(param.category,'follow')}" >아직 아무도 팔로우 하고 있지 않아요!!</span>
                <span class="category-no-content" th:if="${#strings.equals(param.category,'bookmark')}" >아직 북마크 하신 곡이 한 곡도 없어요!!</span>
                <span class="category-no-content" th:if="${#strings.equals(param.category,'liked')}" >아직 좋아요를 누르신 곡이 한 곡도 없어요!!</span>
              </div>
          </li>
          </ul>
        </div><!-- .recent-page--list -->
      </article><!-- .recent-page--listBox -->
    </section><!-- .recent-page -->
  <script src="/js/history/up-to-history.js"></script>
  <script defer>
    likeEvent();
    bookmarkEvent();
  </script>
  </main>
</html>
