<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/include/layoutMember.html}">
  <main id="mainPage-Area" class="container" layout:fragment="contents">
    <section class="history-written">
        <div style="display: flex; align-content: center; flex-direction: column;">

            <h2 class="category-title">작성 글 목록</h2>
                <div style="display: flex; justify-content: center;">
                    <!-- 작성 글 목록 -->
                    <!--   BOARD에서 POSTAUTH = USERID인 것들 불러오기 -->
                    <ul class="items">
                        <li class="item" th:each="item:${historyList}">
                            <div class="history-thumb">
                                <a th:href="@{/board/view(postNo=${item.postNo})}">
                                    <img  th:src="@{${'https://img.youtube.com/vi/' + item.postLink + '/mqdefault.jpg'}}"
                                    alt="" style="display:inline-block; width:246px; height: 138px;">
                                </a>
                            </div>
                            <div class="history-cont">
                                <div class="history-cont-info">
                                    <span th:text="${item.postTitle}">곡 명</span>
                                    <span th:text="${item.postSinger}">가수 명</span>
                                </div>
                                <div class="history-cont-data">
                                    <span th:text="'조회수 : '+${item.postHits}">조회수</span>
                                    <span th:text="'좋아요 : '+${item.postLike}">좋아요</span>
                                    <span th:text="'작성일 : '+${item.postDate}">작성일</span>
                                </div>
                                <div class="history-cont-btns">
                                    <span class="btn btn-modify btn-secondary" >수정</span>
                                    <span class="btn btn-delete postDeleteModal-btn btn-dark" >삭제</span>
                                </div>
                            </div>
                        </li>
                        
                        <li th:if="${#lists.isEmpty(historyList)}">
                                <div style="display:block; height:200px; width: 600px; border: 1px solid #fff;">
                                    <span style="display:block ;color:#fff; font-style: bold; margin-top: 90px;">아직 작성하신 곡이 한 곡도 없어요!! </span>
                                </div>
                        </li>
                    </ul>
                </div>

                <div style="display: flex; justify-content: center;">
                    <!-- 좋아요 누른 글 목록 -->
                    <!-- BOARD_RECORD에서 WHERE LIKE = 1 의 POSTNO를 받아오기. -->
                </div>
            </div>
    </section><!-- main-constent--itmes -->


    <section><!-- 모달 섹션 -->

        <!-- 삭제확인 모달창 -->
        <div id="postDeleteModal" class="modal-wnd">
            <div class="modal-wnd-item modal-postDelete">
            <div class="modal-content">
                <div class="modal-postDelete__context">
                    <img id="postDeleteThum">
                    <span id="postDeleteTitle"></span>
                    <span id="postDeleteSinger"></span>
                    <span id="postDeleteDate"></span>
                </div>
                <div class="modal-postDelete__btns">
                <button id="updateProfileConfirm" onclick="updateProfile();">확인</button>
                <button id="postDeleteModal-close" onclick="removeIcon();">취소</button>
                </div>
            </div>
            </div>
        </div>
                    
    </section>
  <script src="/js/modal.js"></script>
  <script defer>
     getModal($(".postDeleteModal-btn"),$("#postDeleteModal"),$("#postDeleteModal-close"))

    function getPost(_postNo){
        $.ajax({
            url:"/board/getPost",
            type:"POST",
            data:{"postNo": _postNo},
            success:function(response){
                console.log(resoponse);
            //     $("#postDeleteimg")
            // $("#postDeleteTitle").text("${response.postTitle}")
            },
            error:function(err){
                console.log(err);
            }
        })

    }

    function deletePost(_postNo){
        $.ajax({
            url:"board/delete",
            type:"POST",
            data:{
                postNo:_postNo
            },
            success:function(response){
                console.log(resoponse);
            },
            error:function(err){
                console.log(err);
            }
        })
    }

  </script>
  </main>
</html>
