<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                xmlns:th="http://www.thymeleaf.org" 
                layout:decorate="~{/include/layout.html}">

<main id="mainPage-Area" class="container" layout:fragment="contents">
  <section class="mainPage-Area--ranking">
    <article class="ranking--article">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
          <div class="swiper-slide">Slide 6</div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
        </div>
      </div>
    </article><!-- ranking--article -->
  </section><!-- mainPage-Area--ranking -->
  <section class="mainPage-Area--category">
    <article class="category--nav">
      <ul>
        <li><span>nav 1</span></li>
        <li><span>nav 2</span></li>
        <li><span>nav 3</span></li>
        <li><span>nav 4</span></li>
        <li><span>nav 5</span></li>
        <li><span>nav 6</span></li>
        <li><span>nav 7</span></li>
        <li><span>nav 9</span></li>
        <li><span>nav 10</span></li>
        <li><span>nav 11</span></li>
        <li><span>nav 12</span></li>
      </ul>
    </article><!-- category--nav -->
    <article class="mainPage-Area--contents">
      
    </article><!-- mainPage-Area--contents -->
  </section><!-- mainPage-Area--category -->
</main>



