main {
  position: relative;
}

.boardWrite-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.boardWrite-page .boardWrite-page--form {
  margin-top: 100px;
  width: 70%;
}
.boardWrite-page .boardWrite-page--form button {
  background-color: #264d8b;
  color: #fff;
}
.boardWrite-page .boardWrite-page--form .boardWrite-pag--item {
  margin-bottom: 30px;
}