body {
  background-color: #0e0e0e;
  font-family: "TheJamsil";
  color: #fff;
  font-weight: 200;
  overflow-x: hidden;
}

p,
ul {
  margin: 0;
  left: 0;
  padding: 0;
  line-height: 1;
}

.line {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-width: 1px 0;
  padding: 15px 0;
}

.line-one {
  border: 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  margin: 50px 0;
  width: 1500px;
}

.topAndbut {
  margin: 30px 0 25px 0;
}

h1 {
  font-family: "SBAggroB";
  font-weight: bold;
  font-size: 40px;
  color: #fff !important;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.media855 {
  display: none;
}

.logout {
  display: inline-block;
  font-size: 16px;
  padding: 0;
  padding: 10px 63.5px;
}

.flex-box {
  display: flex;
}
.flex-box #headerLayout-Area {
  width: 245px;
  height: 100vh;
  font-size: 19px;
  color: #999;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: #000;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}
.flex-box #headerLayout-Area .headerLayout-Area--box {
  padding: 0 24px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--logo .logo a img {
  width: 125px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--infoForm .infoForm-All {
  display: flex;
  align-items: center;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--infoForm .infoForm-All .infoForm-img {
  margin-right: 10px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--infoForm .infoForm-All .infoForm-img img {
  width: 50px;
  height: 50px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--infoForm .infoForm-All .infoForm-userNM {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--infoForm .infoForm-All .infoForm-userNM .ic-settings {
  margin-top: 6px;
  margin-left: 5px;
  font-size: 15px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .comment-txt {
  margin: 16px 0;
  text-align: center;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .comment-txt button {
  width: 100%;
  font-size: 16px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--joinForm .join {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--joinForm .join span img {
  width: 30px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--joinForm .join a {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.25s ease;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--joinForm .join a span:hover {
  color: #ff3672;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--searchForm .input-group button {
  padding: 0 20px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--searchForm .input-group .form-outline #form1 {
  background-color: #1a1a1a;
  color: #fff;
  transition: all 1s ease;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--searchForm .input-group .form-outline #form1:focus {
  outline: 1px solid #ff3672;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view ul {
  padding-left: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view ul li {
  margin: 15px 0;
  cursor: pointer;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view ul li div {
  display: flex;
  align-items: center;
  transition: all 0.7s ease;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view ul li div img {
  margin-right: 7px;
  width: 20px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view ul li div span {
  transition: all 0.25s ease;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view01 li:nth-child(1) div:hover {
  background-image: url("/images/navIcon01-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view01 li:nth-child(1) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view01 li:nth-child(1) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view01 li:nth-child(2) div:hover {
  background-image: url("/images/navIcon02-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view01 li:nth-child(2) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view01 li:nth-child(2) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(1) div:hover {
  background-image: url("/images/navIcon03-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(1) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(1) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(2) div:hover {
  background-image: url("/images/navIcon04-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(2) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(2) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(3) div:hover {
  background-image: url("/images/navIcon06-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(3) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(3) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(4) div:hover {
  background-image: url("/images/navIcon08-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(4) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view02 li:nth-child(4) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view03 li:nth-child(1) div:hover {
  background-image: url("/images/navIcon07-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view03 li:nth-child(1) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view03 li:nth-child(1) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view03 li:nth-child(2) div:hover {
  background-image: url("/images/navIcon08-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view03 li:nth-child(2) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view03 li:nth-child(2) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view03 li:nth-child(3) div:hover {
  background-image: url("/images/navIcon09-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view03 li:nth-child(3) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .headerLayout-Area--viewContents .view03 li:nth-child(3) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .viewContents03 .view03 ul li:nth-child(2) div:hover {
  background-image: url("/images/navIcon09-o.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 22px;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .viewContents03 .view03 ul li:nth-child(2) div:hover img {
  opacity: 0;
}
.flex-box #headerLayout-Area .headerLayout-Area--box .viewContents03 .view03 ul li:nth-child(2) div:hover span {
  color: #cc0040;
  font-weight: bold;
}
.flex-box #mainPage-Area {
  width: 100%;
  height: 100%;
  margin-left: 245px;
  background-color: #0e0e0e;
}

.btnHover {
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden !important;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.btnHover.check {
  background-image: linear-gradient(120deg, #ff3672 0%, #7723ff 100%);
}

.btnHover-x {
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden !important;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.btnHover:hover {
  color: #fff !important;
}

.btnHover-x:hover {
  color: #fff !important;
}

.btnHover::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background-image: linear-gradient(120deg, #ff3672 0%, #7723ff 100%);
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btnHover-x::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background-image: linear-gradient(120deg, #80ffd3 0%, #7723ff 100%);
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btnHover::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btnHover-x::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #ff3672;
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btnHover:hover::before, .btnHover:hover::before,
.btnHover-x:hover::before, .btnHover-x:hover::before {
  opacity: 1;
  width: 116%;
}

.btnHover:hover::after, .btnHover:hover::after,
.btnHover-x:hover::after, .btnHover-x:hover::after {
  opacity: 1;
  width: 120%;
}

@media screen and (max-width: 855px) {
  .mainContent {
    margin-top: 60px;
  }
  .flex-box {
    display: block;
  }
  .flex-box #headerLayout-Area {
    width: 100%;
    height: auto;
    font-size: 19px;
  }
  .flex-box #headerLayout-Area .headerLayout-Area--box {
    display: none;
  }
  .flex-box #headerLayout-Area .media855 {
    display: block;
    height: 10vh;
  }
  .flex-box #mainPage-Area {
    margin-left: auto;
  }
  .viewContents03 .view03 ul {
    margin-right: 0 !important;
  }
  .media855 {
    padding-top: 28px;
  }
  .media855-Area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .media855-Area--img {
    margin-left: 25px;
  }
  .media855-Area--img img {
    width: 120px;
  }
  .media855-Area--search {
    display: flex;
  }
  .media855-Area--search input {
    width: 200px;
    padding: 3px 0;
    background-color: #1a1a1a;
    color: #fff;
    transition: all 1s ease;
    border: 1px solid #1a1a1a;
  }
  .media855-Area--search input:focus {
    outline: 1px solid #ff3672;
  }
  .media855-Area--search button {
    padding: 0 10px;
  }
  .media855-Area--search form {
    display: flex;
  }
  .media855-Area--search-meun {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 25px;
  }
  .media855-Area--search-meun .meunClick span::before {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    background-color: #fff;
  }
  .media855-Area--search-meun .meunClick span:nth-child(1)::before {
    margin-top: 10px;
  }
  .media855-Area--search-meun .meunClick span:nth-child(2)::before {
    margin: 6px 0;
  }
}
@media screen and (max-width: 500px) {
  #headerLayout-Area {
    width: 100vw;
  }
}