.main-constent--itmes {
  margin: 4%;
  color: #fff;
  font-family: "HelveticaBlack";
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper {
  font-family: "SBAggroB";
  font-weight: bold;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper {
  gap: 5px;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide {
  width: 530px;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a {
  display: inline-block;
  width: 500px;
  height: 280px;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title {
  position: relative;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title > .swiper-txt:hover {
  opacity: 1;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title .swiper-title-num {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title .swiper-title-num p img {
  width: 80px;
  transform: rotate(-10deg);
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title .swiper-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8431372549);
  border-radius: 8px;
  opacity: 0;
  transition: all 0.6s ease;
  transition-delay: 0.2s;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title .swiper-txt .swiper-txts {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title .swiper-txt .swiper-txts p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title .swiper-txt .swiper-txts p:nth-child(1) {
  font-family: "HelveticaBlack";
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title .swiper-txt .swiper-txts .swiper-txts--postAuth p {
  margin-right: 50px;
}
.main-constent--itmes .main-constent--listItem .listItem-nav {
  margin-bottom: 50px;
}
.main-constent--itmes .main-constent--listItem .listItem-nav .update-data ul {
  display: flex;
  gap: 30px;
  font-size: 17px;
}
.main-constent--itmes .main-constent--listItem .listItem-nav .update-data ul li {
  color: #999;
  transition: all 0.25s ease;
}
.main-constent--itmes .main-constent--listItem .listItem-nav .update-data ul li:hover {
  font-weight: bold;
  color: #ff3672;
}
.main-constent--itmes .main-constent--listItem .listItem-nav .update-data ul li a {
  position: relative;
}
.main-constent--itmes .main-constent--listItem .listItem-nav .update-data ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  border-radius: 3px;
  background-image: linear-gradient(120deg, #7723ff 0%, #ff3672 100%);
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 0.25s ease;
}
.main-constent--itmes .main-constent--listItem .listItem-nav .update-data ul li a:hover::after {
  width: 100%;
}
.main-constent--itmes .main-constent--listItem .getList-ItemBox ul {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 20px;
}
.main-constent--itmes .main-constent--listItem .getList-ItemBox ul li {
  margin-bottom: 80px;
  overflow: hidden;
}
.main-constent--itmes .main-constent--listItem .getList-ItemBox ul li a:hover img {
  transform: scale(105%);
  border-radius: 5px;
}
.main-constent--itmes .main-constent--listItem .getList-ItemBox ul li a img {
  width: 360px;
  height: 200px;
  border-radius: 5px;
  transition: all 0.25s ease;
  transition-delay: 0.05s;
}
.main-constent--itmes .main-constent--listItem .getList-ItemBox .ItemBox-content p {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.main-constent--itmes .main-constent--listItem .getList-ItemBox .ItemBox-content .ItemBox-postTitle {
  margin: 15px 0 10px 0;
}
.main-constent--itmes .main-constent--listItem .getList-ItemBox .ItemBox-content .ItemBox-postSinger {
  font-family: "SBAggroB";
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 25px 0;
}