.listItem--center {
  margin-left: 3%;
  margin-right: 3%;
}

ul {
  padding-left: 0;
}

#mainPage-Area .main-constent--itmes .main-constent--slider .swiper {
  height: 500px;
  z-index: 2;
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  width: 400px !important;
  height: 400px !important;
  transform: translateY(50px) !important;
  box-shadow: 0px 10px 13px -7px #1f1f1f, -3px -3px 20px 5px rgba(43, 43, 43, 0.27);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}
#mainPage-Area .main-constent--itmes .main-constent--slider .swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
#mainPage-Area .main-constent--itmes .main-constent--listItem {
  color: #fff;
  font-size: 26px;
}
#mainPage-Area .main-constent--itmes .main-constent--listItem .listItem-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
#mainPage-Area .main-constent--itmes .main-constent--listItem .listItem-nav .listItem-nav--title a {
  font-weight: bold;
}
#mainPage-Area .main-constent--itmes .main-constent--listItem .listItem-nav .update-data {
  font-size: 16px;
}
#mainPage-Area .main-constent--itmes .main-constent--listItem .listItem-nav .update-data ul {
  display: flex;
  gap: 15px;
}
#mainPage-Area .main-constent--itmes .main-constent--listItem .getList-ItemBox {
  margin-bottom: 5%;
}
#mainPage-Area .main-constent--itmes .main-constent--listItem .getList-ItemBox ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 85px;
  color: #fff;
  margin-left: 2.5%;
}
#mainPage-Area .main-constent--itmes .main-constent--listItem .getList-ItemBox ul a {
  display: block;
  outline: 1px solid rgb(255, 255, 255);
  width: 300px;
  height: 450px;
  overflow: hidden;
  box-shadow: 0px 10px 13px -7px #1f1f1f, -3px -3px 20px 5px rgba(43, 43, 43, 0.27);
}