.monthRanking {
  padding: 50px;
}
.monthRanking #monthRankList ul li {
  width: 100%;
  height: 18vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid rgba(80, 80, 80, 0.3490196078);
  position: relative;
  transition: all 0.4s ease;
}
.monthRanking #monthRankList ul li:hover {
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(101%);
}
.monthRanking #monthRankList ul li:nth-child(1) .postTxt-no {
  color: #131313;
}
.monthRanking #monthRankList ul li:nth-child(1) .postTxt-no::after {
  content: "";
  display: block;
  width: 4vw;
  height: 6vw;
  background-image: url("/images/num01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 1.5%;
}
.monthRanking #monthRankList ul li:nth-child(2) .postTxt-no {
  color: #131313;
}
.monthRanking #monthRankList ul li:nth-child(2) .postTxt-no::after {
  content: "";
  display: block;
  width: 4vw;
  height: 6vw;
  background-image: url("/images/num02.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 1.5%;
}
.monthRanking #monthRankList ul li:nth-child(3) .postTxt-no {
  color: #131313;
}
.monthRanking #monthRankList ul li:nth-child(3) .postTxt-no::after {
  content: "";
  display: block;
  width: 4vw;
  height: 6vw;
  background-image: url("/images/num03.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 1.5%;
}
.monthRanking #monthRankList ul li .postTxt {
  display: flex;
  align-items: center;
}
.monthRanking #monthRankList ul li .postTxt-no {
  height: 100%;
  padding: 0 50px;
  font-size: 2vw;
  font-weight: bold;
}
.monthRanking #monthRankList ul li .postTxt-img {
  width: 10vw;
  height: 10vw;
  outline: 1px solid red;
  border-radius: 33px;
}
.monthRanking #monthRankList ul li .postTxt-title p {
  margin-left: 30px;
}
.monthRanking #monthRankList ul li .postTxt-title p:nth-child(1) {
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 3vw;
}
.monthRanking #monthRankList ul li .postTxt-title p:nth-child(2) {
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 10px;
}
.monthRanking #monthRankList ul li .postTxt-title p:nth-child(3) {
  font-size: 0.8vw;
}
.monthRanking #monthRankList ul li .postTitle {
  position: relative;
  transition: all 0.25s ease;
}
.monthRanking #monthRankList ul li .postTitle:hover {
  transform: translateY(3%);
}
.monthRanking #monthRankList ul li .postTitle a img {
  width: 25vw;
  border-radius: 23px;
  margin-right: 50px;
}
.monthRanking #monthRankList ul li .postTitle .postTitle-sub {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 25%;
  padding-left: 2vw;
  opacity: 0;
  width: 91%;
  height: 100%;
  transition: all 0.25s ease;
  transition-delay: 0.2s;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 23px;
}
.monthRanking #monthRankList ul li .postTitle .postTitle-sub p {
  font-size: 1.5vw;
  font-weight: 800;
}
.monthRanking #monthRankList ul li .postTitle .postTitle-sub a {
  padding: 0.7vw 1.5vw;
  border-radius: 6px;
  margin-top: 15px;
}
.monthRanking #monthRankList ul li .postTitle .postTitle-sub:hover {
  opacity: 1;
}

#month {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
#month .prevMonth,
#month .nextMonth {
  cursor: pointer;
}
#month .prevMonth:hover,
#month .nextMonth:hover {
  font-weight: bold;
  color: #ff3672;
}
#month #monthDate {
  padding: 0 8px;
}

@media screen and (max-width: 1550px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 23vw;
    margin: 10px;
  }
  .monthRanking {
    padding: 50px;
  }
}
@media screen and (max-width: 1415px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 23vw;
  }
  .monthRanking {
    padding: 50px;
  }
}
@media screen and (max-width: 1240px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 22vw;
  }
  .monthRanking {
    padding: 50px;
  }
}
@media screen and (max-width: 1045px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 21vw;
  }
  .monthRanking {
    padding: 30px;
  }
}
@media screen and (max-width: 960px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 20vw;
  }
  .monthRanking {
    padding: 20px;
  }
}
@media screen and (max-width: 855px) {
  .monthRanking #monthRankList ul li:nth-child(1) {
    width: 100%;
  }
  .monthRanking #monthRankList ul li:nth-child(1) a img {
    width: 100%;
  }
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 47.4%;
  }
  .monthRanking #monthRankList ul li:nth-child(2) a img,
  .monthRanking #monthRankList ul li:nth-child(3) a img {
    width: 100%;
  }
  .monthRanking #monthRankList ul li {
    width: 100%;
    margin: 8px;
  }
  .monthRanking #monthRankList ul li a img {
    width: 30%;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle,
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle,
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7137254902);
    opacity: 0;
    transition: all 0.25s ease;
    transition-delay: 0.2s;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle:hover,
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle:hover,
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle:hover {
    opacity: 1;
  }
  .monthRanking #monthRankList ul li .postTitle {
    position: absolute;
    top: 0;
    left: 30%;
    width: 79%;
    height: 100%;
    background: none;
    opacity: 1;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle .postTxt p:nth-child(3),
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle .postTxt p:nth-child(3),
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle .postTxt p:nth-child(3) {
    margin-top: 15px;
  }
  .monthRanking #monthRankList ul li .postTitle .postTxt p:nth-child(3) {
    margin-top: 45px;
  }
}
@media screen and (max-width: 500px) {
  .monthRanking #monthRankList ul li:nth-child(1) {
    width: 100%;
  }
  .monthRanking #monthRankList ul li:nth-child(1) a img {
    width: 100%;
  }
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 45.4%;
  }
  .monthRanking #monthRankList ul li:nth-child(2) a img,
  .monthRanking #monthRankList ul li:nth-child(3) a img {
    width: 100%;
  }
  .monthRanking #monthRankList ul li {
    width: 100%;
    margin: 8px;
  }
  .monthRanking #monthRankList ul li a img {
    width: 35%;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle,
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle,
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7137254902);
    opacity: 0;
    transition: all 0.25s ease;
    transition-delay: 0.2s;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle:hover,
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle:hover,
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle:hover {
    opacity: 1;
  }
  .monthRanking #monthRankList ul li .postTitle {
    position: absolute;
    top: 8%;
    left: 35%;
    width: 79%;
    height: 100%;
    background: none;
    opacity: 1;
  }
  .topAndbut {
    text-align: left;
  }
  .monthRanking #monthRankList ul li .postTitle .postTxt p {
    font-size: 16px;
  }
  .monthRanking #monthRankList ul li .postTitle .postTxt p:nth-child(1) {
    font-size: 13px;
    font-weight: 200;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle .postTxt p:nth-child(3),
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle .postTxt p:nth-child(3),
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle .postTxt p:nth-child(3) {
    margin-top: 15px;
  }
  .monthRanking #monthRankList ul li .postTitle .postTxt p:nth-child(3) {
    margin-top: 30px;
  }
  .monthRanking {
    margin-top: 100px;
  }
}