.monthRanking {
  padding: 50px;
}

.monthRankList ul li {
  width: 100%;
  height: 18vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid rgba(80, 80, 80, 0.3490196078);
  position: relative;
  transition: all 0.4s ease;
}
.monthRankList ul li:hover {
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(101%);
}
.monthRankList ul li:nth-child(1) .postTxt-no {
  color: #131313;
}
.monthRankList ul li:nth-child(1) .postTxt-no::after {
  content: "";
  display: block;
  width: 4vw;
  height: 6vw;
  background-image: url("/images/num01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 20px;
}
.monthRankList ul li:nth-child(2) .postTxt-no {
  color: #131313;
}
.monthRankList ul li:nth-child(2) .postTxt-no::after {
  content: "";
  display: block;
  width: 4vw;
  height: 6vw;
  background-image: url("/images/num02.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 20px;
}
.monthRankList ul li:nth-child(3) .postTxt-no {
  color: #131313;
}
.monthRankList ul li:nth-child(3) .postTxt-no::after {
  content: "";
  display: block;
  width: 4vw;
  height: 6vw;
  background-image: url("/images/num03.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 20px;
}
.monthRankList ul li .postTxt {
  display: flex;
  align-items: center;
}
.monthRankList ul li .postTxt-no {
  width: 100px;
  height: 100%;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  margin-right: 3vw;
}
.monthRankList ul li .postTxt-img {
  width: 10vw;
  height: 10vw;
  outline: 1px solid red;
  border-radius: 33px;
}
.monthRankList ul li .postTxt-title p {
  margin-left: 30px;
}
.monthRankList ul li .postTxt-title p:nth-child(1) {
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 3vw;
}
.monthRankList ul li .postTxt-title p:nth-child(2) {
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 10px;
}
.monthRankList ul li .postTxt-title p:nth-child(3) {
  font-size: 0.8vw;
}
.monthRankList ul li .postTitle {
  position: relative;
  transition: all 0.25s ease;
  margin-right: 50px;
}
.monthRankList ul li .postTitle:hover {
  transform: translateY(3%);
}
.monthRankList ul li .postTitle a img {
  width: 25vw;
  border-radius: 23px;
}
.monthRankList ul li .postTitle .postTitle-sub {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6235294118);
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}
.monthRankList ul li .postTitle .postTitle-sub span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.monthRankList ul li .postTitle .postTitle-sub span p {
  font-size: 1vw;
}
.monthRankList ul li .postTitle .postTitle-sub a {
  width: 100%;
  height: 100%;
  padding: 0.7vw 1.5vw;
  border-radius: 6px;
  margin-top: 15px;
}
.monthRankList ul li .postTitle .postTitle-sub:hover {
  opacity: 1;
}

#month {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
#month .prevMonth,
#month .nextMonth {
  cursor: pointer;
}
#month .prevMonth:hover,
#month .nextMonth:hover {
  font-weight: bold;
  color: #ff3672;
}
#month #monthDate {
  padding: 0 8px;
}

@media screen and (max-width: 1690px) {
  .monthRankList ul li:nth-child(1) .postTxt-no::after,
  .monthRankList ul li:nth-child(2) .postTxt-no::after,
  .monthRankList ul li:nth-child(3) .postTxt-no::after {
    width: 4vw;
    height: 6vw;
    top: 35%;
    left: 28px;
  }
  .monthRankList ul li .postTxt-no {
    margin-right: auto;
  }
}
@media screen and (max-width: 1470px) {
  .monthRankList ul li:nth-child(1) .postTxt-no::after,
  .monthRankList ul li:nth-child(2) .postTxt-no::after,
  .monthRankList ul li:nth-child(3) .postTxt-no::after {
    width: 4vw;
    height: 6vw;
    top: 35%;
    left: 35px;
  }
}
@media screen and (max-width: 1190px) {
  .monthRankList ul li:nth-child(1) .postTxt-no::after,
  .monthRankList ul li:nth-child(2) .postTxt-no::after,
  .monthRankList ul li:nth-child(3) .postTxt-no::after {
    width: 5vw;
    height: 7vw;
    top: 35%;
    left: 30px;
  }
  .monthRankList ul li .postTxt-no {
    font-size: 3vw;
  }
  .monthRankList ul li .postTxt-img {
    min-width: 10vw;
    min-height: 10vw;
    outline: 1px solid red;
  }
  .monthRankList ul li .postTxt-title p:nth-child(1) {
    font-size: 2vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(2) {
    font-size: 1.4vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(3) {
    font-size: 1.1vw;
  }
  .monthRankList ul li .postTitle a img {
    width: 20vw;
  }
  .monthRankList ul li .postTitle .postTitle-sub {
    padding-top: 15%;
    padding-left: 2vw;
  }
  .postTxt-title {
    width: 300px;
  }
  .monthRanking {
    padding: 10px;
  }
}
@media screen and (max-width: 1060px) {
  .monthRankList ul li:nth-child(1) .postTxt-no::after,
  .monthRankList ul li:nth-child(2) .postTxt-no::after,
  .monthRankList ul li:nth-child(3) .postTxt-no::after {
    width: 5vw;
    height: 7vw;
    top: 35%;
    left: 30px;
  }
  .monthRankList ul li .postTxt-no {
    font-size: 3vw;
  }
  .monthRankList ul li .postTxt-img {
    min-width: 10vw;
    min-height: 10vw;
    outline: 1px solid red;
  }
  .monthRankList ul li .postTxt-title p:nth-child(1) {
    font-size: 2vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(2) {
    font-size: 1.4vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(3) {
    font-size: 1.1vw;
  }
  .monthRankList ul li .postTitle a img {
    width: 20vw;
  }
  .monthRankList ul li .postTitle .postTitle-sub {
    padding-top: 15%;
    padding-left: 2vw;
  }
  .postTxt-title {
    width: 250px;
  }
}
@media screen and (max-width: 1000px) {
  .monthRankList ul li:nth-child(1) .postTxt-no::after,
  .monthRankList ul li:nth-child(2) .postTxt-no::after,
  .monthRankList ul li:nth-child(3) .postTxt-no::after {
    width: 5vw;
    height: 7vw;
    top: 35%;
    left: 30px;
  }
  .monthRankList ul li .postTxt-no {
    font-size: 3vw;
  }
  .monthRankList ul li .postTxt-img {
    min-width: 10vw;
    min-height: 10vw;
    outline: 1px solid red;
  }
  .monthRankList ul li .postTxt-title p:nth-child(1) {
    font-size: 2vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(2) {
    font-size: 1.4vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(3) {
    font-size: 1.1vw;
  }
  .monthRankList ul li .postTitle a img {
    width: 20vw;
  }
  .monthRankList ul li .postTitle .postTitle-sub {
    padding-top: 15%;
    padding-left: 2vw;
  }
  .postTxt-title {
    width: 200px;
  }
}
@media screen and (max-width: 915px) {
  .monthRankList ul li:nth-child(1) .postTxt-no::after,
  .monthRankList ul li:nth-child(2) .postTxt-no::after,
  .monthRankList ul li:nth-child(3) .postTxt-no::after {
    width: 5vw;
    height: 7vw;
    top: 35%;
    left: 30px;
  }
  .monthRankList ul li .postTxt-no {
    font-size: 3vw;
  }
  .monthRankList ul li .postTxt-img {
    min-width: 10vw;
    min-height: 10vw;
    outline: 1px solid red;
  }
  .monthRankList ul li .postTxt-title p:nth-child(1) {
    font-size: 2vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(2) {
    font-size: 1.5vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(3) {
    font-size: 1.2vw;
  }
  .monthRankList ul li .postTitle a img {
    width: 20vw;
  }
  .monthRankList ul li .postTitle .postTitle-sub {
    padding-top: 15%;
    padding-left: 2vw;
  }
  .postTxt-title {
    width: 22vw;
  }
}
@media screen and (max-width: 960px) {
  .monthRankList ul li:nth-child(1) .postTxt-no::after,
  .monthRankList ul li:nth-child(2) .postTxt-no::after,
  .monthRankList ul li:nth-child(3) .postTxt-no::after {
    width: 5vw;
    height: 7vw;
    top: 35%;
    left: 30px;
  }
  .monthRankList ul li .postTxt-no {
    font-size: 3vw;
  }
  .monthRankList ul li .postTxt-img {
    min-width: 10vw;
    min-height: 10vw;
    outline: 1px solid red;
  }
  .monthRankList ul li .postTxt-title p:nth-child(1) {
    font-size: 2vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(2) {
    font-size: 1.5vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(3) {
    font-size: 1.2vw;
  }
  .monthRankList ul li .postTitle a img {
    width: 20vw;
  }
  .monthRankList ul li .postTitle .postTitle-sub {
    padding-top: 15%;
    padding-left: 2vw;
  }
  .postTxt-title {
    width: 22vw;
  }
  .monthRankList ul li .postTitle .postTitle-sub span p {
    width: 100px;
  }
}
@media screen and (max-width: 855px) {
  .monthRankList ul li:nth-child(1) .postTxt-no::after,
  .monthRankList ul li:nth-child(2) .postTxt-no::after,
  .monthRankList ul li:nth-child(3) .postTxt-no::after {
    width: 6vw;
    height: 8.5vw;
    top: 25%;
    left: 30px;
  }
  .monthRankList ul li .postTxt-no {
    font-size: 3vw;
  }
  .monthRankList ul li .postTxt-img {
    min-width: 10vw;
    min-height: 10vw;
    outline: 1px solid red;
  }
  .monthRankList ul li .postTxt-title p:nth-child(1) {
    font-size: 2.3vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(2) {
    font-size: 1.7vw;
  }
  .monthRankList ul li .postTxt-title p:nth-child(3) {
    font-size: 1.5vw;
  }
  .monthRankList ul li .postTitle a img {
    width: 32vw;
  }
  .monthRankList ul li .postTitle .postTitle-sub {
    padding-top: 15%;
    padding-left: 2vw;
  }
  .postTxt-title {
    width: 30vw;
  }
  .monthRanking {
    margin-top: 100px;
    padding: 30px;
  }
  .monthRankList ul li {
    padding: 80px 0 100px 0;
  }
  .monthRankList ul li .postTxt-img {
    min-width: 13vw;
    min-height: 13vw;
  }
  .monthRankList ul li .postTitle .postTitle-sub span p {
    font-size: 2vw;
    width: 150px;
  }
}
@media screen and (max-width: 500px) {
  .monthRankList ul li:nth-child(1) .postTxt-no::after,
  .monthRankList ul li:nth-child(2) .postTxt-no::after,
  .monthRankList ul li:nth-child(3) .postTxt-no::after {
    width: 8vw;
    height: 12.5vw;
    top: 30%;
    left: 10px;
  }
  .monthRankList ul li .postTxt-no {
    font-size: 3vw;
    margin-left: 20px;
    width: 50%;
    text-align: left;
  }
  .monthRankList ul li .postTxt-no p {
    width: 60px;
    font-size: 20px;
  }
  .monthRankList ul li .postTxt-img {
    min-width: 10vw;
    min-height: 10vw;
    outline: 1px solid red;
  }
  .monthRankList ul li .postTxt-title p:nth-child(1) {
    font-size: 2.3vw;
    text-align: left;
  }
  .monthRankList ul li .postTxt-title p:nth-child(2) {
    font-size: 1.7vw;
    text-align: left;
  }
  .monthRankList ul li .postTxt-title p:nth-child(3) {
    font-size: 1.5vw;
    text-align: left;
  }
  .monthRankList ul li .postTitle a img {
    width: 45vw;
  }
  .monthRankList ul li .postTitle .postTitle-sub {
    padding-top: 15%;
    padding-left: 2vw;
  }
  .postTxt-title {
    width: 30vw;
    display: none;
  }
  .monthRanking {
    margin-top: 100px;
    padding: 30px;
  }
  .monthRankList ul li {
    padding: 80px 0 100px 0;
  }
  .monthRankList ul li .postTxt-img {
    min-width: 13vw;
    min-height: 13vw;
    margin-right: 20px;
  }
  .monthRankList ul li .postTitle .postTitle-sub span p {
    font-size: 2vw;
    width: 100px;
  }
}
.postTxt-img img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border-radius: 33px;
}