.mainContent {
  display: block;
  margin: 4%;
}
.mainContent-Area01-item .Area01-item--profile {
  display: flex;
}
.mainContent-Area01-item .Area01-item--profile-img {
  width: 30%;
  text-align: center;
}
.mainContent-Area01-item .Area01-item--profile-img img {
  width: 200px;
  height: 200px;
}
.mainContent-Area01-item .Area01-item--profile-img .fileArea input[type=file] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.mainContent-Area01-item .Area01-item--profile-form {
  width: 70%;
}
.mainContent-Area01-item .Area01-item--profile-form .formArea {
  margin-bottom: 15px;
}
.mainContent-Area01-item .Area01-item--profile-form .formArea span input {
  margin-left: 10px;
  width: 400px;
}
.mainContent-Area01-item .Area01-item--profile-form .formArea-sub {
  display: flex;
}
.mainContent-Area01-item .Area01-item--profile-form .formArea-sub p {
  width: 75px;
}
.mainContent-Area02 {
  height: 300px;
}
.mainContent-Area02-title {
  display: flex;
  align-items: center;
}
.mainContent-Area02-title button {
  height: 30px;
}
.mainContent-Area02 .Area02-item--profile-list ul {
  display: flex;
  gap: 70px;
}
.mainContent-Area02 .Area02-item--profile-list ul li {
  position: relative;
}
.mainContent-Area02 .Area02-item--profile-list ul li a {
  width: 360px;
  height: 200px;
}
.mainContent-Area02 .Area02-item--profile-list ul li a img {
  width: 360px;
  height: 200px;
}
.mainContent-Area02 .Area02-item--profile-list ul li a .profile-list {
  width: 360px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8431372549);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}
.mainContent-Area02 .Area02-item--profile-list ul li a .profile-list-txt {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.mainContent-Area02 .Area02-item--profile-list ul li a .profile-list-txt p {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.mainContent-Area02 .Area02-item--profile-list ul li a .profile-list-txt p:nth-child(1) {
  font-weight: 200;
}
.mainContent-Area02 .Area02-item--profile-list ul li a .profile-list-txt p:nth-child(2) {
  font-size: 26px;
  font-weight: 600;
}
.mainContent-Area02 .Area02-item--profile-list ul li a .profile-list-txt p:nth-child(3) {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 200;
}
.mainContent-Area02 .Area02-item--profile-list ul li a .profile-list:hover {
  opacity: 1;
}