.recent-page .recent-page--listBox .recent-page--list ul {
  width: 100%;
}
.recent-page .recent-page--listBox .recent-page--list ul .liLine {
  width: 100%;
  border-bottom: 1px solid #555556;
}
.recent-page .recent-page--listBox .recent-page--list ul li {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 30px 0;
  width: 100%;
}
.recent-page .recent-page--listBox .recent-page--list ul li.cancel {
  position: relative;
}
.recent-page .recent-page--listBox .recent-page--list ul li.cancel:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.recent-page .recent-page--listBox .recent-page--list ul li a {
  display: inline-block;
  width: 1000px;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box {
  display: flex;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box p {
  margin-bottom: 0;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--img {
  width: 246px;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--img img {
  width: 246px;
  height: 138px;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--content {
  width: 100%;
  margin-left: 20px;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--content .recent-music--title-All {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--content .recent-music--title-All .recent-music--title p {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  z-index: 1;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--content .recent-music--title-All .recent-music--title01 {
  height: 70%;
  display: flex;
  justify-content: space-between;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--content .recent-music--title-All .recent-music--title01 p:nth-child(2) {
  font-size: 17px;
  font-weight: 500;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--content .recent-music--title-All .recent-music--title01 .btn-like, .recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--content .recent-music--title-All .recent-music--title01 .btn-bookmark {
  position: static;
  z-index: 1;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--content .recent-music--title-All .recent-music--title02 {
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.recent-page .recent-page--listBox .recent-page--list ul li a .recent-listImg--box .recent-listImg--content .recent-music--title-All .recent-music--title02 p {
  font-size: 14px;
  font-weight: 300;
}
.recent-page .recent-page--listBox .recent-page--list ul li .btns {
  z-index: 1;
}