.weeklyRanking {
  height: 100%;
  padding: 80px;
}
.weeklyRanking-Area ul {
  display: flex;
  justify-content: left;
  gap: 20px;
  flex-wrap: wrap;
}
.weeklyRanking-Area ul li {
  outline: 1px solid red;
  position: relative;
  width: 25vw;
}
.weeklyRanking-Area ul li a img {
  width: 100%;
}
.weeklyRanking-Area ul li a .postTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7137254902);
  opacity: 0;
  transition: all 0.25s ease;
  transition-delay: 0.2s;
}
.weeklyRanking-Area ul li a .postTitle .postTxt {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.weeklyRanking-Area ul li a .postTitle .postTxt p {
  font-size: 26px;
}
.weeklyRanking-Area ul li a .postTitle .postTxt p:nth-child(1) {
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 3px;
}
.weeklyRanking-Area ul li a .postTitle .postTxt p:nth-child(2) {
  font-weight: 600;
}
.weeklyRanking-Area ul li a .postTitle .postTxt p:nth-child(3) {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 200;
}
.weeklyRanking-Area ul li a .postTitle:hover {
  opacity: 1;
}

#weekly {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
#weekly .prevWeekly,
#weekly .nextWeekly {
  cursor: pointer;
}
#weekly .prevWeekly:hover,
#weekly .nextWeekly:hover {
  font-weight: bold;
  color: #ff3672;
}
#weekly #weeklyDate {
  padding: 0 8px;
}

.prevWeekly,
.nextWeekly {
  cursor: pointer;
}

@media screen and (max-width: 1750px) {
  .weeklyRanking-Area ul li {
    width: 24vw;
  }
}
@media screen and (max-width: 1400px) {
  .weeklyRanking-Area ul li {
    width: 33vw;
  }
  .weeklyRanking {
    padding: 30px;
  }
  .weeklyRanking-Area ul li {
    width: 24vw;
  }
}
@media screen and (max-width: 1200px) {
  .weeklyRanking-Area ul li {
    width: 23vw;
  }
}
@media screen and (max-width: 1000px) {
  .weeklyRanking-Area ul li {
    width: 21vw;
  }
}
@media screen and (max-width: 855px) {
  .weeklyRanking-Area ul li {
    width: 45vw;
  }
}
@media screen and (max-width: 500px) {
  .weeklyRanking-Area ul li {
    width: 42vw;
  }
  .weeklyRanking-Area ul li a .postTitle .postTxt p {
    font-size: 16px;
  }
  .weeklyRanking {
    margin-top: 100px;
  }
}