#weekly {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 18px;
  margin-bottom: 20px;
}
#weekly .prevWeekly,
#weekly .nextWeekly {
  cursor: pointer;
}
#weekly .prevWeekly:hover,
#weekly .nextWeekly:hover {
  font-weight: bold;
  color: #ff3672;
}
#weekly #weeklyDate {
  padding: 0 8px;
}