<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.sharemusic.dao.DateDao">
<!-- 월간 랭킹 날짜 -->
<select id="getMonthRankDate" parameterType="Integer" resultType="HashMap">
    SELECT TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MONTH'), -1 + #{moveMonth}), 'YYYY-MM-DD') AS STARTDATE,
    TO_CHAR(LAST_DAY(ADD_MONTHS(TRUNC(SYSDATE, 'MONTH'), -1 + #{moveMonth})), 'YYYY-MM-DD') AS LASTDATE
    FROM DUAL
</select>

<!-- 주간 랭킹 날짜 -->
<select id="getWeeklyRankDate" parameterType="Integer" resultType="HashMap">
  SELECT TO_CHAR(TRUNC(SYSDATE, 'iw') - 7 + (7 * #{moveWeekly}), 'YYYY-MM-DD') AS STARTDATE,
  TO_CHAR(TRUNC(SYSDATE, 'iw') - 1 + (7 * #{moveweekly}), 'YYYY-MM-DD') AS LASTDATE FROM DUAL
</select>
</mapper>