<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.sharemusic.dao.DateDao">
<select id="getMonthRankDate" parameterType="Integer" resultType="HashMap">
    SELECT TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MONTH'), -1 + #{moveMonth}), 'YYYY-MM-DD') AS STARTDAY,
    TO_CHAR(LAST_DAY(ADD_MONTHS(TRUNC(SYSDATE, 'MONTH'), -1 + #{moveMonth})), 'YYYY-MM-DD') AS LASTDAY
    FROM DUAL
</select>
</mapper>