<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.sharemusic.dao.MemberDao">
  <select id="getMemberAll" resultType="MemberDto">
    SELECT * FROM MEMBER ORDER BY USERID
  </select>
  <select id="getMemberOne" parameterType="String" resultType="MemberDto">
	  SELECT * FROM MEMBER WHERE userID = #{userID}
  </select>
  <select id="checkID" parameterType="String" resultType="Integer">
    SELECT COUNT(*) FROM MEMBER WHERE USERID = #{userID}
  </select>
  <select id="login" parameterType="MemberDto" resultType="Integer">
    SELECT COUNT(*) FROM MEMBER WHERE USERID = #{userID} AND USERPW = #{userPW}
  </select>
  
  <insert id="putMember" parameterType="MemberDto">
	  INSERT INTO MEMBER VALUES(
	  								#{userID},
	  								#{userPW},
	  								#{userNM},
                    #{userIcon},
	  								#{userIconReal},
                    0, <!--  userBann  --> 
	  								SYSDATE,
                    #{userPrincipal}
	  								)
  </insert>

  <update id="updateMember" parameterType="MemberDto">
    UPDATE MEMBER SET 
     <if test="userNM != null">
      USERNM = #{userNM},
     </if>
     <if test="userPW != null">
      USERPW = #{userPW},
     </if>
     <if test="userIcon != null">
      USERICON = #{userIcon},
     </if>
     <if test="userIconReal != null">
      USERICONREAL = #{userIconReal},
     </if>
    USERID = #{userID} WHERE USERID = #{userID}
  </update>

  <insert id="withdraw" parameterType="MemberDto">
    INSERT INTO MEMBER_WITHDRAW (USERID, USERNM, USERDATE, WITHDATE) (SELECT USERID, USERNM, USERDATE, SYSTIMESTAMP FROM MEMBER WHERE USERID = #{userID})
  </insert>
  <update id="deleteMember" parameterType="MemberDto">
     UPDATE MEMBER SET USERNM = NULL, USERDATE = NULL, USERPRINCIPAL = -1 WHERE USERID = #{userID}
  </update>

</mapper>