<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.sharemusic.dao.ReplysDao">

  <!-- 모든 덧글 받아오기 -->
  <select id="getReplyAll" parameterType="Integer" resultType="ReplysDto">
    SELECT * FROM REPLYS WHERE POSTNO = #{postNo} ORDER BY REPLYSTEP
  </select>

  <!-- 새 덧글 달 때 STEP 받아오기 -->
  <select id="getReplyStepMax" parameterType="Integer" resultType="Integer">
    SELECT NVL(MAX(REPLYSTEP),0)+1 FROM REPLYS WHERE POSTNO = #{postNo}
  </select>

<!-- 덧글의 덧글 -->
  <!-- 내가 달려는 덧글의 다음LEVEL의 제일 큰 STEP 받아오기 -->
  <select id="getReplyNextStep" parameterType="ReplysDto" resultType="Integer">
    SELECT NVL(MAX(REPLYSTEP),0) FROM REPLYS WHERE POSTNO = #{postNo} AND REPLYGROUP = #{replyGroup} AND REPLYLEVEL = #{replyLevel}
  </select>

  <!-- 내가 달려는 덧글의 STEP 받아오기 -->
  <select id="getReplyStep" parameterType="ReplysDto" resultType="Integer">
    SELECT REPLYSTEP FROM REPLYS WHERE POSTNO = #{postNo} AND REPLYNO = #{replyGroup}
  </select>

  <!-- 내가 달려는 덧글의 LEVEL 받아오기 -->
  <select id="getReplyLevel" parameterType="ReplysDto" resultType="Integer">
        SELECT REPLYLEVEL FROM REPLYS WHERE POSTNO = #{postNo} AND REPLYNO = #{replyGroup}
  </select>

  <!-- 내 뒤로 전부 STEP + 1 -->
  <update id="setReplyStepOnePlus" parameterType="ReplysDto">
    UPDATE REPLYS SET REPLYSTEP = REPLYSTEP+1 WHERE POSTNO = #{postNo} AND  REPLYSTEP <![CDATA[ > ]]> #{replyStep} AND POSTNO = #{postNo}
  </update>
<!-- 덧글의 덧글 -->

  <insert id="putReply" parameterType="ReplysDto">
    INSERT INTO REPLYS VALUES (#{postNo},REPLYS_SEQ.NEXTVAL,#{replyAuthID},#{replyAuthNM},#{replyCont},#{replyHidden},SYSTIMESTAMP,#{replyGroup},#{replyLevel},#{replyStep})
  </insert>

  <update id="updateReply" parameterType="ReplysDto">
    UPDATE REPLYS SET
    REPLYCONT = #{replyCont},
    REPLYDATE = SYSTIMESTAMP
  </update>

  <delete id="deleteReply" parameterType="ReplysDto">
    DELETE FROM REPLYS WHERE REPLYNO = #{replyNo} AND REPLYAUTHID = #{replyAuthID}
  </delete>
</mapper>  
