main {
  position: relative;
}
.boardWrite-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  .boardWrite-page--form {
    margin-top: 100px;
    form {
      // outline: 1px solid red;
      width: 800px;
    }
    .musicName {
      display: flex;
      align-items: center;
      &-left {
        input {
          width: 600px;
        }
        margin-right: 30px;
      }//&-left
      &-right {
        width: 180px;
      }//&-right
    } //.musicName
    input {
      display: inline-block;
    }
    
    
    .boardWrite-pag--item {
      margin-bottom: 30px;
      #writePostGenre,
      #writePostEmote {
        cursor: pointer;
      }
    }
  } //.boardWrite-page--form
} //.boardWrite-page
