main {
  position: relative;
}
.boardWrite-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  .boardWrite-page--form {
    margin-top: 100px;
    width: 70%;
    .musicName {
      display: flex;
      input {
      width: 22vw;
      }
    }//.musicName
    input {
      width: 22vw;
      display: inline-block;  
    }
    button {
      background-color: #264d8b;
      color: #fff;
    }
    .boardWrite-pag--item {
      margin-bottom: 30px;
    }
  }//.boardWrite-page--form
}//.boardWrite-page


