.board-modify--page {
  display: flex;
  justify-content: center;
  font-size: 18px;
  .board-bodify--content {
    margin-top: 100px;
    input,
    textarea,
    select {
      width: 800px;
      margin: 20px 0;
    }
    span {
      display: inline-block;
      color: #fff;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .postGenre,
    .genreEtc,
    .postEmote {
      margin: auto;
      margin-bottom: 5px;
    }
    .btn-submit {
      margin-top: 30px;
      text-align: right;
    } //.btn-submit
  } //.board-bodify--content
} //.board-modify--page
