

.reply-date-md500, .board-view--replyBox__input-M {
  display: none;
}

.mainPageView-Area {
  display: flex;
  justify-content: center;
}

.boardView {
  max-width: 1280px;
  margin: 4%;
  &-Area {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }//&-Area
  &-Video {
    iframe {
      width: 1280px;
      height: 720px;
    }
    &--title {
      display: flex;
      justify-content: space-between;
      .title {
        width: 100%;
        &-info{
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
        }
        &-name {
          margin-bottom: 30px;
          p {
            font-size: 22px;
            font-weight: 300;
            width: 100%;
            margin-bottom: 5px;
          }
          a {
            h1 {
              display: inline;
              margin: 0 15px 0 0;
            }
          }
          h1 {
            font-size: 35px;
          }
        }//&-name
        &-Auth{
          display: flex;
          align-items: center;
          a{
            display: flex;
    align-items: center;
          }
          &-icon{
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          &-name{
            display: inline-block;
            font-size: 20px;
            font-weight: 300;
            margin: 0 10px;
          }
          &-follow{
            display: inline-block;
          }

        }
        &-Content{
          margin: 10px 0;
          padding: 10px;
          background: #1F1F1F;
          border-radius: 5px;
        }
        &-Date {
          margin: 0 0 50px 0;
          display: flex;
          justify-content: space-between;
          .like-share {
            button {
              border: none;
              outline: none;
              background-color: #1f1f1f;
              img {
                width: 25px;
              }
            }
          }//&-btn
        }//&-Date
        &-Genre {

        }//&-Genre
        &-btn {
          margin: 30px 0;
        }//&-btn
      }//.title
      .like {
        width: 7vw;
        margin-top: 10px;
        &-good {
          &-sub {
          min-width: 60px;
          height: 40px;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          margin-right: 10px;
          border-radius: 33px;
          background-color: #35373f;
          cursor: pointer;
          }
          p {
            margin-right: 30px;
            position: relative;
            &::before {
              content: "";
              display: block;
              width: 1px;
              height: 15px;
              background-color: #0e0e0e;
              position: absolute;
              bottom: 0; right: -15px;
            }
          }
          span {
            display: inline-block;
            padding-top: 2px;
          }
        }//&-good
        &-btn{
          display: flex;
        }
      }//.like
    }//&--title
  }//&-Video
}//.boardView

// 덧글 CSS 권인호 작성
.board-view--replyBox {
  .reply{
    position: relative;
    display: flex;
    margin: 5px auto;
    padding: 5px;
    background-color: #1a1a1a;
    &-container{
      width:100%;
      min-height: 300px;
      
    }
  
    &-contents{
      display: flex;
      flex-grow: 1;
      min-height: 30px;
      width: 100%;

      &--icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        a {
          display: flex;
          align-items: center;
          width: 80%;
        }
        img{
          width: 30px;
          height: 30px;
          border-radius: 5px;
        }
        span{
          display: inline-block;
        }
        .menuBtn {
          position: absolute;
          color: #777;
          top: 0;
          right: 0;
          cursor: pointer;
          &-delete{
            margin-left: 5px;
          }
          &-modify{
            // right: 25px;
          }
        }
        .reply-contents--text{
          width: 80%;
          padding: 10px 0 10px 35px;
          &.hidden{
            display:none;
          }
        }
        .reply-contents--box {
          display: flex;
        }
        .replyLockedIcon{
          width: 20px;
          height: 20px;
          position: absolute;
          top: 5px;
          left: 5px;
          
        }
      }
      &--btns{
        position: relative;
        display: flex;
        text-align: center;
        flex-grow: 0;
        justify-content: left;
        width: 100%;
        height: 100%;
        span{
          display: grid;
          place-items: center;
          padding: 0 20px;
          font-size: 12px;
          opacity: .5;
          cursor: pointer;
        }
      }
    }
    &-date{
      // flex-grow: 0;
      width: 180px !important;
      font-size: 12px;
      opacity: .5;
      padding: 10px 0 10px 35px;
    }
    &-hidden{
      width: 100%;
    }
  }
  .board-view--replyBox__input {
    position: relative;
    margin-top: 30px;
    textarea {
      width: 100%;
      resize: none;
      background-color: #f0f0f0;
    }
    input {
      &:nth-child(3) {
        position: absolute;
        bottom: 15%; right: 1%;
        z-index: 10;
        width: 100px;
        height: 50px;
      }
    }
  }
}

  .board-view--replyBox{
    &-input {
      position: relative;
      margin-bottom: 5%;
      &.modifyReply{
        margin-bottom: 0px;
      }
    }
    &-subCont{
      display: flex;
      textarea {
        background-color: #1a1a1a;
        color: #fff;
        
        &:focus {
          outline: none;
        }
      }
      .replyCont {
        flex:1;
        resize: none;
      }
      input {
        &:nth-child(4) {
          position: absolute;
          bottom: 10%; right: 3%;
          z-index: 10;
        }
      }
    }
  }
  .replyIcon{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    &.deleted{
      opacity: 0;
    }
  }




@media screen and (max-width: 1640px) {
  .flex-box #mainPage-Area {
    margin-left: 260px;
  }
  .boardView-Video iframe {
    width: 75vw;
    height: 42vw;
  }
  .boardView-Video--title .like {
    // width: 7.5vw;
  }
  .boardView-Video--title .like-btn {
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
    .like-good{
      min-width: 60px;
    }
  }
}//@media screen and (max-width: 1640px)
@media screen and (max-width: 1400px) {
  .title-btn {
    width: 13vw;
  }
  .boardView-Video--title .like {
    width: 8vw;
  }
  .boardView-Video--title .like-btn {
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
  }
}//@media screen and (max-width: 1400px)
@media screen and (max-width: 1230px) {
  .boardView {
    margin: 0;
  }
  .boardView-Video--title .like {
    width: 9vw;
  }
  .boardView-Video--title .like-btn {
    display: flex;
    margin-top: 20px;
    margin-left: 75px;
  }
}//@media screen and (max-width: 1230px)
@media screen and (max-width: 1080px) {
  .boardView-Video iframe {
    width: 72vw;
    height: 41vw;
  }
  .title-btn {
    width: 15vw;
  }
  .board-view--replyBox .reply-contents--icon a {
    width: 80%;
  }
  .board-view--replyBox .reply-date {
    width: 190px !important;
  }
  .boardView-Video--title .like {
    width: 11vw;
  }
  .boardView-Video--title .like-btn {
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
  }
}//@media screen and (max-width: 1080px)
@media screen and (max-width: 960px) {
  .boardView-Video iframe {
    width: 69vw;
    height: 41vw;
  }
  .board-view--replyBox .reply-contents--icon .menuBtn {
    right: 5%;
  }
  .boardView-Video--title .like {
    width: 11vw;
    .default {
      font-size: 12px;
    }
  }
  .boardView-Video--title .like-btn {
    display: flex;
    margin-top: 20px;
    margin-left: 70px;
  }
}//@media screen and (max-width: 960px)
@media screen and (max-width: 855px) {
  .boardView {
    margin-top: 20%;
  }
  .flex-box #mainPage-Area {
    margin-left: 0;
  }
  .boardView-Video iframe {
    width: 90vw;
    height: 52vw;
  }
  .boardView-Video--title .like {
    width: 12vw;
    .default {
      font-size: 12px;
    }
  }
  .boardView-Video--title .like-btn {
    display: flex;
    margin-top: 20px;
    margin-left: 65px;
  }
  .title-btn {
    width: 20vw;
  }
}//@media screen and (max-width: 855px)
@media screen and (max-width: 500px) {
  
}//@media screen and (max-width: 500px)
