.reply-date-md500, .board-view--replyBox__input-M {
  display: none;
}

.mainPageView-Area {
  display: flex;
  justify-content: center;
}

.boardView {
  margin: 4%;
  border-bottom: 1px solid;
  &-Area {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }//&-Area
  &-Video {
    iframe {
      width: 1500px;
      height: 720px;
    }
    &--title {
      display: flex;
      justify-content: space-between;
      .title {
        width: 50%;
        &-name {
          p {
            font-size: 30px;
            font-weight: 300;
          }
          a {
            h1 {
              margin: 15px 0;
            }
          }
          h1 {
            font-size: 35px;
          }
        }//&-name
        &-Date {
          margin: 10px 0;
        }//&-Date
        &-Genre {

        }//&-Genre
        &-btn {
          margin: 30px 0;
        }//&-btn
      }//.title
      .like {
        width: 50%;
        display: flex;
        margin-left: 75%;
        margin-top: 10px;
        &-good {
          img {
            width: 30px;
            cursor: pointer;
          }
        }//&-good
        &-btn {
          margin-left: 30px;
          button {
            border: none;
            outline: none;
            background-color: #0e0e0e;
            img {
              width: 25px;
            }
          }
        }//&-btn
      }//.like
    }//&--title
  }//&-Video
}//.boardView

// 덧글 CSS 권인호 작성
.board-view--replyBox {
  .reply{
    position: relative;
    display: flex;
    margin: 5px auto;
    &-container{
      width:100%;
      min-height: 300px;
      
    }
  
    &-contents{
      display: flex;
      flex-grow: 1;
      min-height: 30px;
      width: 100%;
      &--icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        a {
          width: 8%;
        }
        img{
          width: 30px;
          height: 30px;
          border-radius: 5px;
        }
        span{
          display: inline-block;
        }
        .menuBtn {
          position: absolute;
          top: 0; right: 2%;
          font-size: 30px;
          color: #777;
          top: 0;
          right: 0;
          cursor: pointer;
          &-delete{
            margin-left: 5px;
          }
          &-modify{
            // right: 25px;
          }
        }
        .reply-contents--text{
          width: 80%;
          padding: 10px 0 10px 35px;
        }
        .reply-contents--box {
          display: flex;
        }
        .replyLockedIcon{
          width: 20px;
          height: 20px;
          position: absolute;
          top: 5px;
          margin-left: 5px;
        }
      }
      &--btns{
        position: relative;
        display: flex;
        flex-grow: 0;
        justify-content: left;
        width: 100%;
        height: 100%;
        span{
          display: grid;
          place-items: center;
          padding: 0 20px;
          font-size: 12px;
          opacity: .5;
          cursor: pointer;
        }
      }
    }
    &-date{
      // flex-grow: 0;
      width: 180px !important;
      font-size: 12px;
      opacity: .5;
      padding: 10px 0 10px 35px;
    }
    &-hidden{
      width: 100%;
    }
  }
  .board-view--replyBox__input {
    position: relative;
    margin-top: 30px;
    textarea {
      width: 100%;
      resize: none;
      background-color: #f0f0f0;
    }
    input {
      &:nth-child(3) {
        position: absolute;
        bottom: 15%; right: 1%;
        z-index: 10;
        width: 100px;
        height: 50px;
      }
    }
  }
}

  .board-view--replyBox{
    &-input {
      position: relative;
      margin-bottom: 5%;
    }
    &-subCont{
      display: flex;
      .replyCont {
        flex:1;
        resize: none;
      }
      input {
        &:nth-child(4) {
          position: absolute;
          bottom: 10%; right: 3%;
          z-index: 10;
        }
      }
    }
  }
  .replyIcon{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
  }
}



@media screen and (max-width: 1640px) {
  .flex-box #mainPage-Area {
    margin-left: 260px;
  }
  .boardView-Video iframe {
    width: 75vw;
    height: 42vw;
  }
}//@media screen and (max-width: 1640px)
@media screen and (max-width: 1400px) {
  .title-btn {
    width: 13vw;
  }
  .boardView-Video--title .like {
    margin-left: 46%;
  }
  .boardView-Video--title .title-Date {
    width: 30vw;
  }
}//@media screen and (max-width: 1400px)
@media screen and (max-width: 1230px) {
  .boardView {
    margin: 0;
  }
  .boardView-Video--title .like {
    margin-left: 44%;
  }
}//@media screen and (max-width: 1230px)
@media screen and (max-width: 1080px) {
  .boardView-Video iframe {
    width: 72vw;
    height: 41vw;
  }
  .boardView-Video--title .title-Date {
    width: 35vw;
  }
  .boardView-Video--title .like {
    margin-left: 34%;
  }
  .title-btn {
    width: 15vw;
  }
  .board-view--replyBox .reply-contents--icon a {
    width: 10%;
  }
  .board-view--replyBox .reply-date {
    width: 190px !important;
  }
}//@media screen and (max-width: 1080px)
@media screen and (max-width: 960px) {
  .boardView-Video iframe {
    width: 69vw;
    height: 41vw;
  }
  .boardView-Video--title .like {
    margin-left: 28%;
  }
  .board-view--replyBox .reply-contents--icon .menuBtn {
    right: 5%;
  }
}//@media screen and (max-width: 960px)
@media screen and (max-width: 855px) {
  .boardView {
    margin-top: 15%;
  }
  .flex-box #mainPage-Area {
    margin-left: 0;
  }
  .boardView-Video iframe {
    width: 90vw;
    height: 52vw;
  }
  .boardView-Video--title .title-Date {
    width: 40vw;
  }
  .boardView-Video--title .like {
    margin-left: 36%;
  }
  .title-btn {
    width: 20vw;
  }
}//@media screen and (max-width: 855px)
@media screen and (max-width: 500px) {
  .boardView-Video--title .title-name p {
    font-size: 23px;
  }
  .boardView-Video--title .title-name h1 {
    font-size: 28px;
  }
  .boardView-Video--title .title-Date, .boardView-Video--title .title-Genre {
    font-size: 12px;
  }
  .boardView-Video--title .title-Date {
    width: 50vw;
  }
  .boardView-Video--title .title-btn {
    width: 30vw;
  }
  .boardView-Video--title .like-good img {
    width: 25px;
  }
  .boardView-Video--title .like-btn button img {
    width: 23px;
    margin-bottom: 5px;
  }
  .boardView-Video--title .like-btn {
    margin-left: 15px;
  }
  .postLike {
    font-size: 12px;
  }
  // .boardView-Video--title .title {
  //   width: 50vw;
  // }
  .board-view--replyBox {
    width: 88vw;
    font-size: 13px;
  }
  .boardView-Video--title .like {
    width: 25vw;
    margin-left: 5vw;
  }
  .reply-date {
    display: none;
  }
  .reply-date-md500 {
    display: flex;
    align-items: center;
    // margin-bottom: 10px;
    .reply-date {
      display: block;
      width: 50vw !important;
      text-align: left;
      padding: 5px 0 0 35px;
      opacity: .5;
    }
    .reply-contents--btns {
      display: block;
      padding-top: 5px;
      span {
        background: none;
        border-radius: auto;
        margin-left: auto;
      }
      .replyReplyBtn {
        padding: 5px 10px;
      }
    }
  }
  .reply-contents--icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    a {
      width: 20%;
    }
    .menuBtn {
      display: block;
      margin-right: 10px;
      padding: 10px 10px;
      transform: translateY(-30px);
      cursor: pointer;
      right: 0 !important;
    }
  }
  .reply-contents--btns {
    display: none;
  }
  .reply-contents {
    display: flex;
    flex-direction: column;
  }
  .reply-contents--text {
    padding: 10px 0 10px 35px;
  }
  .board-view--replyBox__input {
    display: none;
  }
  .board-view--replyBox__input-M {
    display: block;
    .replyCont {
      cursor: pointer;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  .reply-contents--btns span {
    display: block;
    text-align: left;
  }
  .replyReplyBtn {
    display: none !important;
  }
  .replyReplyBtn.replyReplyBtn-M {
    display: block !important;
    width: 100px;
    margin: 0 !important;
  }
  .board-view--replyBox .reply-contents--icon a {
    width: 20%;
  }
  .board-view--replyBox .reply-contents--icon span {
    font-weight: 500;
  }
  .board-view--replyBox .reply-contents--icon .menuBtn {
    font-size: 20px;
    transform: translateY(-17px);
  }
}//@media screen and (max-width: 500px)
