.boardView {
  margin: 4%;
  border-bottom: 1px solid;
  &-Area {

  }//&-Area
  &-Video {
    iframe {
      width: 1280px;
      height: 720px;
    }
    &--title {
      display: flex;
      justify-content: space-between;
      .title {
        width: 50%;
        &-name {
          p {
            font-size: 30px;
            font-weight: 400;
          }
          a {
            h1 {
              margin: 15px 0;
            }
          }
          margin-bottom: 50px;
        }//&-name
        &-Date {
          margin: 10px 0;
        }//&-Date
        &-Genre {

        }//&-Genre
        &-btn {
          margin: 30px 0;
        }//&-btn
      }//.title
      .like {
        width: 50%;
        display: flex;
        margin-left: 750px;
        margin-top: 10px;
        &-good {
          img {
            width: 30px;
            cursor: pointer;
          }
        }//&-good
        &-btn {
          margin-left: 30px;
          button {
            border: none;
            outline: none;
            background-color: #0e0e0e;
            img {
              width: 25px;
            }
          }
        }//&-btn
      }//.like
    }//&--title
  }//&-Video
}//.boardView
// 덧글 CSS 권인호 작성
.reply{
  position: relative;
  display: flex;
  margin: 5px auto;
  &-container{
    width:100%;
    min-height: 300px;
    
  }

  &-contents{
    display: flex;
    width: 80%;
    min-height: 30px;
    &--icon{
      width: 180px;
      display: flex;
      img{
        width: 30px;
        height: 30px;
        border-radius: 5px;
      }
      span{
        display: inline-block;
      }
    }
    &--text{
      width: 70%;
    }
    &--btns{
      position: relative;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100%;
    right: 0%;
    margin-left: 5px;
      span{
        background: #fff;
        border-radius: 5px;
        margin-left: 2px;
      }
    }
  }
  &-date{
    width: 15%;
    text-align: right;
  }
  &-hidden{
    width: 100%;
  }

}
