main {
  position: relative;
}
.boardWrite-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  .boardWrite-page--form {
    margin-top: 100px;
    width: 70%;
    button {
      background-color: #264d8b;
      color: #fff;
    }
    .boardWrite-page--item {
      margin-bottom: 30px;
      color: #111;
      .form-select {
        cursor: pointer;
      }
    }
  } //.boardWrite-page--form
} //.boardWrite-page
