
video, img {
  vertical-align: top;
  object-fit: cover;
}
html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro-Area {
  width: 100%;
  height: 100vh;
  .intro-Area--section {
    .intro-Area--article {
      position: relative;
      width: 100%;
      height: 100vh;
      z-index: 99;
      .intro-Area--video {
        width: 150%;
        height: 150vh;
        transform: translate(-16%, -20%);
        pointer-events: none;
      }//.intro-Area--video
        .intro-Area--txt01 {
          position: absolute;
          top: 22vw; left: -13vw;
          img {
            width: 30vw;
          }
        }// .intro-Area--txt01
        .intro-Area--txt02 {
          position: absolute;
          top: 20vw; right: -13vw;
        }// .intro-Area--txt01
      .intro-Area--btn {
        position: absolute;
        bottom: 10%; left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        a {
          img {
            width: 500px;
          }
        }
      }// .intro-Area--btn
    }//.intro-Area--article
  }//.intro-Area--section
}//#intro-Area





@keyframes ball {
  0% { top:0px; }
  to {top:50px;} 
}


.containers {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 99;
  position: absolute;
  top: 0; left: 0;
  transform: translateY(20%);
  animation:ball 1s ease-in Infinite Alternate;
  
}

svg {
    display: block;
    width: 100%;
    height: 300px;
    font-family: 'AppleSDGothicNeoH';
    margin: 0 auto;
    font-weight: bold;
    font-size: 8vw;
    
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
    
}

.text-copy:nth-child(1){
	stroke: #ff3672;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #7723ff ;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #80ffd3;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #fcff36;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

@media screen and (max-width: 1400px) {
  #intro-Area .intro-Area--section .intro-Area--article .intro-Area--video {
    width: 170%;
    height: 170vh;
    transform: translate(-16%, -20%);
    pointer-events: none;
  }
  html {
    max-width: 1400px;
  }
}
@media screen and (max-width: 1200px) {
  #intro-Area .intro-Area--section .intro-Area--article .intro-Area--video {
    width: 250%;
    height: 250vh;
    transform: translate(-30%, -30%);
    pointer-events: none;
  }
  svg {
    font-size: 15vw;
  }
  html {
    max-width: 1200px;
  }
}
@media screen and (max-width: 770px) {
  #intro-Area .intro-Area--section .intro-Area--article .intro-Area--video {
    width: 350%;
    height: 350vh;
    transform: translate(-35%, -35%);
    pointer-events: none;
  }
  svg {
    font-size: 28vw;
  }
  html {
    max-width: 770px;
  }
}
@media screen and (max-width: 500px) {
  #intro-Area .intro-Area--section .intro-Area--article .intro-Area--video {
    width: 380%;
    height: 380vh;
    transform: translate(-36%, -36%);
    pointer-events: none;
  }
  svg {
    font-size: 250px;
  }
  html {
    max-width: 500px;
  }
}
