
.container {
  max-width: 100% !important;
  padding: 0;
}

body {
  background-color: #111;
}

.left-items {
  padding: 10% 0 10% 8%;
  font-size: 17px;
  color: #fff;
  margin: 0 8% 0 8%;
  &.lien {
    border-top: 1px solid #aaaaaa9d;
    border-bottom: 1px solid #aaaaaa9d;
  }
}




#headerLayout-Area {
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  outline: 1px solid #aaaaaa9d;
  background-color: #111;
  z-index: 99;
  .headerLayout-Area--logo {
    .logo {
      img {
        width: 150px;
      }
    }
  }//.headerLayout-Area--logo
  .headerLayout-Area--viewContents {
    .view {
      ul {
        padding: 0;
        line-height: 2;
      }
    }
  }//.headerLayout-Area--viewContents
}//#headerLayout-Area 

#mainPage-Area {
  width: 85%;
  height: 100%;
  margin-left: 15%;
}//#mainPage-Area


#footerLayout-Area {
  width: 85%;
  height: 20vh;
  margin-left: 15%;
  background-color: #272727;
}//#footerLayout-Area


