
.listItem--center {
  margin-left: 3%;
  margin-right: 3%;
}
ul {
  padding-left: 0;
}
.swiper-wrapper{
	transition-timing-function: linear;
}


#mainPage-Area {
  .main-constent--itmes {
    .main-constent--slider {
      .swiper {
        // margin-top: 80px;
        height: 500px;
        z-index: 2;
      }
      
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        margin: 0 20px;
        color: #fff;
        width: 400px !important;
        height: 400px !important;
        transform: translate(40px, 50px) !important;
        -webkit-box-shadow: 0px 10px 13px -7px #272727, -3px -3px 20px 5px rgba(36, 36, 36, 0.27);
        box-shadow: 0px 10px 13px -7px #1f1f1f, -3px -3px 20px 5px rgba(43, 43, 43, 0.27);
      }
      
      .swiper-slide:nth-child(1n) {
        background-color: rgb(206, 17, 17);
      }
      
      .swiper-slide:nth-child(2n) {
        background-color: rgb(0, 140, 255);
      }
      
      .swiper-slide:nth-child(3n) {
        background-color: rgb(10, 184, 111);
      }
      
      .swiper-slide:nth-child(4n) {
        background-color: rgb(211, 122, 7);
      }
      
      .swiper-slide:nth-child(5n) {
        background-color: rgb(118, 163, 12);
      }
      
      .swiper-slide:nth-child(6n) {
        background-color: rgb(180, 10, 47);
      }
      
      .swiper-slide:nth-child(7n) {
        background-color: rgb(35, 99, 19);
      }
      
      .swiper-slide:nth-child(8n) {
        background-color: rgb(0, 68, 255);
      }
      
      .swiper-slide:nth-child(9n) {
        background-color: rgb(218, 12, 218);
      }
      
      .swiper-slide:nth-child(10n) {
        background-color: rgb(54, 94, 77);
      }
    }//.main-constent--slider
    .main-constent--listItem {
      color: #fff;
      font-size: 26px;
      .listItem-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        .listItem-nav--title {
          font-weight: bold;
        }//.listItem-nav--title
        .update-data {
          font-size: 16px;
          ul {
            display: flex;
            gap: 15px;
          }
        }//.update-data
      }//.listItem-nav
      .getList-ItemBox {
        margin-bottom: 5%;
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: left;
          gap: 30px;
          color: #fff;
          // margin-left: 2.5%;
          a {
            display: block;
            // outline: 1px solid rgb(255, 255, 255);
            border-radius: 5px;
            width: 355px;
            height: 340px;
            overflow: hidden;
            -webkit-box-shadow: 0px 10px 13px -7px #1b1b1b, -3px -3px 20px 5px rgba(19, 19, 19, 0.27);
            box-shadow: 0px 10px 13px -7px #181818, -3px -3px 20px 5px rgba(24, 24, 24, 0.27);
            .ItemBox-imgs {
              img {
                width: 100%;
              }
            }//.ItemBox-imgs
            .ItemBox-content {
              font-size: 13px;
              margin: 10px;
              line-height: 1;
              font-weight: 400;
              .ItemBox-postAuth {
              }
              .ItemBox-postTitle {
                font-size: 18px;
                height: 55px;
                font-weight: 600;
              }
            }//.ItemBox-content
          }
        }
      }//.getList-ItemBox
    }//.main-constent--listItem
  }//.main-constent--itmes
}//#mainPage-Area