.main-constent--itmes-center {
  padding: 50px;
}
.main-constent--itmes {
  color: #fff;
  font-family: "HelveticaBlack";
  width: 100%;
  .main-constent--ranking {
    .ranking-area {
      .ranking-box {
        .profileMySwipers {
          font-family: "SBAggroB";
          font-weight: bold;
          .swiper-wrapper {
            gap: 5px;
            .swiper-slide {
              width: 530px;
              a {
                display: inline-block;
                width: 500px;
                height: 280px;
                .swiper-title {
                  position: relative;
                  & > .swiper-txt:hover {
                    opacity: 1;
                  }
                  img {
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                  }
                  .swiper-title-num {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    p {
                      img {
                        width: 80px;
                        transform: rotate(-10deg);
                      }
                    }
                  } //.swiper-title-num
                  .swiper-txt {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000000d7;
                    border-radius: 8px;
                    opacity: 0;
                    transition: all 0.6s ease;
                    transition-delay: 0.2s;
                    .swiper-txts {
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      font-size: 40px;
                      padding: 20px;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      width: 100%;
                      p {
                        margin: 0;
                        padding: 0;
                        line-height: 1;
                        &:nth-child(1) {
                          font-family: "HelveticaBlack";
                          font-weight: 600;
                          font-size: 18px;
                          margin-bottom: 10px;
                        }
                        &:nth-child(2) {
                          font-weight: bold;
                          font-size: 20px;
                          margin-bottom: 10px;
                        }
                      }
                      .swiper-txts--postAuth {
                        p {
                          margin-right: 50px;
                        }
                      }
                    } //.swiper-txts
                  } //.swiper-txt
                } //.swiper-title
              }
            }
          }
        }
      } //.ranking-box
    } //.ranking-area
  } //..main-constent--ranking
  .main-constent--listItem {
    .listItem-nav {
      margin-bottom: 50px;
      .update-data {
        ul {
          display: flex;
          gap: 30px;
          font-size: 17px;
          li {
            color: #999;
            transition: all 0.25s ease;
            &:hover {
              font-weight: bold;
              color: #ff3672;
            }
            a {
              position: relative;
              &::after {
                content: "";
                display: block;
                width: 0;
                height: 4px;
                border-radius: 3px;
                background-image: linear-gradient(
                  120deg,
                  #7723ff 0%,
                  #ff3672 100%
                );
                position: absolute;
                bottom: -10px;
                left: 0;
                transition: all 0.25s ease;
              }
              &:hover::after {
                width: 100%;
              }
            }
          }
          .sortDate.selected {
            color: #ff3672;
          }
          .sortHits.selected {
            color: #ff3672;
          }
          .sortLike.selected {
            color: #ff3672;
          }
        }
      } //.update-data
    } //.listItem-nav
    .getList-ItemBox {
      ul {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        gap: 20px;
        li {
          margin-bottom: 80px;
          overflow: hidden;
          a {
            &:hover img {
              transform: scale(105%);
              border-radius: 5px;
            }
            img {
              width: 360px;
              height: 200px;
              border-radius: 5px;
              transition: all 0.25s ease;
              transition-delay: 0.05s;
            }
          }
        }
      }
      .ItemBox-content {
        p {
          padding: 0;
          margin: 0;
          line-height: 1;
        }
        .ItemBox-postSinger {
          margin: 15px 0 10px 0;
        } //.ItemBox-postTitle
        .ItemBox-postTitle {
          font-family: "SBAggroB";
          font-weight: bold;
          font-size: 18px;
          margin: 0 0 25px 0;
        } //.ItemBox-postSinger
        .ItemBox-postAuthIcon {
          display: inline-block;
          width: 30px;
          height: 30px;
        }
        .ItemBox-postAuth {
          display: inline-block;
          margin-left: 5px;
        }
        .ItemBox-postHits {
          margin-top: 10px;
          color: #777;
        }
      } //.ItemBox-content
    } //.getList-ItemBox
  } //.main-constent--listItem
} //.main-constent--itmes

@media screen and (max-width: 1445px) {
  .main-constent--itmes
    .main-constent--ranking
    .ranking-area
    .ranking-box
    .swiper
    .swiper-wrapper
    .swiper-slide
    a {
    width: 650px;
    height: 100%;
  }
} //@media screen and (max-width: 1445px)
@media screen and (max-width: 1372px) {
  .main-constent--itmes
    .main-constent--ranking
    .ranking-area
    .ranking-box
    .swiper
    .swiper-wrapper
    .swiper-slide
    a {
    width: 1000px;
    height: 100%;
  }
} //@media screen and (max-width: 1372px)
@media screen and (max-width: 1060px) {
  .main-constent--itmes
    .main-constent--ranking
    .ranking-area
    .ranking-box
    .swiper
    .swiper-wrapper
    .swiper-slide
    a {
    width: 700px;
    height: 100%;
  }
} //@media screen and (max-width: 1060px)
@media screen and (max-width: 855px) {
  .main-constent--itmes .main-constent--listItem .getList-ItemBox ul li a img {
    width: 345px;
    height: auto;
  }
  .flex-box #mainPage-Area {
    width: 100%;
    height: 100%;
    margin-left: auto;
    background-color: #0e0e0e;
  }
  .main-constent--itmes-center {
    padding: auto !important;
    padding: 120px 0 50px 0 !important;
  }
  .topAndbut {
    margin: 30px 0 25px 10px;
  }
  .main-constent--itmes .main-constent--listItem .getList-ItemBox ul {
    margin: 0 7%;
  }
  .main-constent--itmes .main-constent--listItem .listItem-nav .update-data ul {
    display: flex;
    justify-content: center;
  }
  .main-constent--itmes .main-constent--listItem .getList-ItemBox ul li {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 30px;
  }
} //@media screen and (max-width: 850px)
@media screen and (max-width: 800px) {
  .main-constent--itmes .main-constent--listItem .getList-ItemBox ul li a img {
    width: 330px;
    height: auto;
  }
  .main-constent--itmes
    .main-constent--ranking
    .ranking-area
    .ranking-box
    .swiper
    .swiper-wrapper
    .swiper-slide
    a {
    width: 660px;
  }
} //@media screen and (max-width: 800px)
@media screen and (max-width: 750px) {
  .main-constent--itmes .main-constent--listItem .getList-ItemBox ul li a img {
    width: 335px;
    height: auto;
  }
  .main-constent--itmes-center {
    padding: 100px 20px 20px 20px;
  }
} //@media screen and (max-width: 750px)
@media screen and (max-width: 700px) {
  .main-constent--itmes .main-constent--listItem .getList-ItemBox ul li a img {
    width: 320px;
    height: auto;
  }
  .main-constent--itmes
    .main-constent--ranking
    .ranking-area
    .ranking-box
    .swiper
    .swiper-wrapper
    .swiper-slide
    a {
    width: 620px;
  }
} //@media screen and (max-width: 700px)
@media screen and (max-width: 650px) {
  .main-constent--itmes .main-constent--listItem .getList-ItemBox ul li a img {
    width: 275px;
    height: auto;
  }
  .main-constent--itmes
    .main-constent--ranking
    .ranking-area
    .ranking-box
    .swiper
    .swiper-wrapper
    .swiper-slide
    a {
    width: 580px;
  }
} //@media screen and (max-width: 650px)
@media screen and (max-width: 600px) {
  .main-constent--itmes .main-constent--listItem .getList-ItemBox ul li a img {
    width: 86vw;
    height: auto;
  }
  .main-constent--itmes
    .main-constent--ranking
    .ranking-area
    .ranking-box
    .swiper
    .swiper-wrapper
    .swiper-slide
    a {
    width: 87vw;
  }
  .media855-Area--search form {
    display: none;
  }
} //@media screen and (max-width: 600px)
@media screen and (max-width: 500px) {
  .main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title .swiper-title-num p img {
    width: 60px;
    transform: rotate(-10deg);
    padding-left: 5px;
  }
  .ranking-box.topAndbut {
    margin: 0 0 0 10px;
  }
  .swiper-txts--postTitle {
    text-align: left;
  }
  .swiper-txts--postAuth {
    text-align: right;
  }
  .main-constent--itmes .main-constent--ranking .ranking-area .ranking-box .swiper .swiper-wrapper .swiper-slide a .swiper-title .swiper-txt .swiper-txts .swiper-txts--postAuth p {
    margin-right: 0 !important;
  }
} //@media screen and (max-width: 500px)
