
// 모달창
.modal-wnd {
  width: 100%;
  height: 100%;
  background-color: #111111f3;
  position: absolute;
  top: 0%; left: 0%;
  z-index: 99;
  display: none;
  &.modal-open{
    display: block;
  }
  &-item {
    width: 70%;
    height: 60%;
    background-color: #fff;
    border-radius: 13px;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-40%, -50%);
  }
}//.write-modal


// 로그인, 회원가입 모달
.modalLogin {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: #000000d0;
  .modalThis-item {
    width: auto; height: auto;
    width: 600px; height: 450px;
    background-color: #fff;
  }
}