// 모달창
.modal-wnd {
  width: 100%;
  height: 100%;
  background-color: #000000f3;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 99;
  display: none;
  &.modal-open {
    display: block;
  }
  &-item {
    width: 70%;
    height: 60%;
    background-color: #fff;
    color: #111;
    border-radius: 13px;
    position: fixed;
    top: 20%;
    left: 15%;
    &-contents {
      display: block;
      margin: 0px auto;
      padding: 20px;
      .modal-btn {
        width: 120x;
        height: 48px;
        border-radius: 5px;
      }
    }
  }
  //카테고리 모달 #권인호 작성
  .modalCategory {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    &__box {
      position: absolute;
      top: 50%;
      left: 52%;
      transform: translate(-50%, -50%);
      width: 56.5vw;
      &__option {
        margin: 0.3vw;
        a {
          img {
            width: 13vw;
            margin: 10px 0;
          }
        }
        // write modify 모달
        // span {
        //   display: grid;
        //   width: 100%;
        //   height: 100%;
        //   text-align: center;
        //   padding: auto 0px;
        //   align-items: center;
        //   cursor: pointer;
        // }
      }
    }
  }
} //.write-modal

//프로필 사진 업데이트 모달 #권인호 작성
.modal-profileUpdate {
  display: block;
  width: 400px;
  height: 60%;
  margin: 10% auto;
  background: #fff;
  border-radius: 13px;
  &__icon {
    display: block;
    margin: 10px auto;
    #testProfile {
      width: 300px;
      height: 300px;
    }
    label {
      display: block;
      margin: 5px auto;
    }
  }
  &__btns {
    display: block;
    margin: 15px auto;
  }
}

// 로그인, 회원가입 모달
.modalLogin {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000d0;
  .modalThis-item {
    width: auto;
    height: auto;
    width: 600px;
    height: 450px;
    background-color: #fff;
  }
}
//회원 탈퇴 모달 #권인호
.modal-withdraw {
  .modal {
    &-content {
      color: #333;
      em {
        color: #700;
      }
      padding: 2%;
      text-align: center;
    }
    &-btns {
      margin: 3%;
    }
  }
}
//이용약관 모달 #권인호
.modal-siteTerms {
  .modal {
    &-content {
      position: relative;
      display: block;
      height: 100%;
      padding: 5%;
      text-align: center;
      .terms {
        &-title {
          color: #333;
        }
        &-content {
          color: #333;
          overflow-y: scroll;
          height: 80%;
          display: block;
          text-align: left;
        }
      }
    }
  }
  #siteTermsClose {
    margin-top: 2.5%;
  }
}

//덧글 삭제 모달 #권인호
#deleteReplyModal {
  .modal-ReplyDelete {
    left: 30%;
    top: 40%;
    width: 40%;
    height: 20%;
    color: #111;
    .modal {
      &-content {
        position: relative;
        display: block;
        height: 100%;
        padding: 5%;
        text-align: center;
      }
    }
  }
}
// 모바일 헤더 디자인
.modal-mo {
  .modal-wnd-item {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 280px;
    .closeModalMobile-btn {
      display: flex;
      justify-content: right;
      .x-btn {
        cursor: pointer;
        position: absolute;
        top: 5%;
        right: 10%;
        width: 50px;
        height: 50px;
        &::before {
          content: "";
          display: block;
          width: 30px;
          height: 3px;
          background-color: #fff;
          transform: rotate(45deg);
          position: absolute;
          top: 45%;
          right: 20%;
        }
        &::after {
          content: "";
          display: block;
          width: 30px;
          height: 3px;
          background-color: #fff;
          transform: rotate(-45deg);
          position: absolute;
          top: 45%;
          right: 20%;
        }
      } //.closeModalMobile-btn
    } //#closeModalMobile
    .mo-logged {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .headerLayout-Area--infoForm {
      display: flex;
      justify-content: center;
      .infoForm-All {
        display: flex;
        align-items: center;
        .infoForm-img {
          margin-right: 10px;
          outline: 1px solid red;
          img {
            width: 50px;
            height: 50px;
          }
        } //.infoForm-img
        .infoForm-userNM {
          display: flex;
          align-items: center;
          width: 100%;
          height: 50px;
          cursor: pointer;
          .ic-settings {
            margin-top: 6px;
            margin-left: 5px;
            font-size: 15px;
          }
        } //.infoForm-userNM
      } //.infoForm-All
    } //.headerLayout-Area--infoForm
    .comment-txt {
      display: flex;
      justify-content: center;
      margin: 16px 0;
      button {
        font-size: 16px;
      }
    } //.comment
    .headerLayout-Area--joinForm {
      display: flex;
      justify-content: center;
      .join {
        display: flex;
        align-items: center;
        text-align: center;
        span {
          img {
            width: 30px;
          }
        }
        a {
          margin-left: 10px;
          margin-top: 5px;
          font-size: 15px;
          font-weight: 300;
          cursor: pointer;
          transition: all 0.25s ease;
          span {
            &:hover {
              color: #ff3672;
            }
          }
        }
      }
    } //.headerLayout-Area--joinForm
    .headerLayout-Area--searchForm {
      display: flex;
      justify-content: center;
      .input-group {
        button {
          background-image: linear-gradient(120deg, #ff3672 0%, #7723ff 100%);
          padding: 0 14px;
        }
        .form-outline {
          #form1 {
            background-color: #1a1a1a;
            color: #fff;
            transition: all 1s ease;
            &:focus {
              outline: 1px solid #ff3672;
            }
          }
        } //.form-outline
      } //.input-group
    } //.headerLayout-Area--searchForm
    .headerLayout-Area--viewContents {
      display: flex;
      justify-content: center;
      .view {
        font-size: 26px;
        display: flex;
        justify-content: center;
        ul {
          padding-left: 0;
          li {
            margin: 15px 0;
            cursor: pointer;
            div {
              display: flex;
              align-items: center;
              transition: all 0.7s ease;
              img {
                margin-right: 7px;
                width: 20px;
              }
              span {
                transition: all 0.25s ease;
              }
            }
          }
        }
      }
      .line {
        width: 100%;
      }
      .view01 {
        li {
          &:nth-child(1) {
            div {
              &:hover {
                background-image: url("/images/navIcon01-o.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px;
                img {
                  opacity: 0;
                }
                span {
                  color: #cc0040;
                  font-weight: bold;
                }
              }
            }
          }
          &:nth-child(2) {
            div {
              &:hover {
                background-image: url("/images/navIcon02-o.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px;
                img {
                  opacity: 0;
                }
                span {
                  color: #cc0040;
                  font-weight: bold;
                }
              }
            }
          }
        }
      } //.view01
      .view02 {
        li {
          &:nth-child(1) {
            div {
              &:hover {
                background-image: url("/images/navIcon03-o.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px;
                img {
                  opacity: 0;
                }
                span {
                  color: #cc0040;
                  font-weight: bold;
                }
              }
            }
          }
          &:nth-child(2) {
            div {
              &:hover {
                background-image: url("/images/navIcon04-o.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px;
                img {
                  opacity: 0;
                }
                span {
                  color: #cc0040;
                  font-weight: bold;
                }
              }
            }
          }
          &:nth-child(3) {
            div {
              &:hover {
                background-image: url("/images/navIcon06-o.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px;
                img {
                  opacity: 0;
                }
                span {
                  color: #cc0040;
                  font-weight: bold;
                }
              }
            }
          }
          &:nth-child(4) {
            div {
              &:hover {
                background-image: url("/images/navIcon08-o.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px;
                img {
                  opacity: 0;
                }
                span {
                  color: #cc0040;
                  font-weight: bold;
                }
              }
            }
          }
        }
      } //.view02
      .view03 {
        ul {
          margin-right: 20px;
        }
        li {
          &:nth-child(1) {
            div {
              &:hover {
                background-image: url("/images/navIcon07-o.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px;
                img {
                  opacity: 0;
                }
                span {
                  color: #cc0040;
                  font-weight: bold;
                }
              }
            }
          }
          &:nth-child(2) {
            div {
              &:hover {
                background-image: url("/images/navIcon08-o.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px;
                img {
                  opacity: 0;
                }
                span {
                  color: #cc0040;
                  font-weight: bold;
                }
              }
            }
          }
          &:nth-child(3) {
            div {
              &:hover {
                background-image: url("/images/navIcon09-o.png");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px;
                img {
                  opacity: 0;
                }
                span {
                  color: #cc0040;
                  font-weight: bold;
                }
              }
            }
          }
        }
      } //.view03
    } //.headerLayout-Area--viewContents
  } //.modal-wnd-item
} //#modalMobile

// 삭제 모달
.deleteMo {
  width: 100%;
  height: 100vh;

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 80;
    width: 500px;
    height: 200px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    &--title {
      padding: 20px 15px;
      p {
        font-size: 20px;
        font-weight: 700;
      }
    }
    &--txt {
      padding: 30px 0;
      border-top: 1px solid #75757560;
      border-bottom: 1px solid #75757560;
      p {
        padding: 0 15px;
        font-weight: 400;
      }
    }
    &--btn {
      padding: 13px 15px;
      text-align: right;
    }
  }
}

// 공유 모달
.shareMo {
  width: 100%;
  height: 100vh;

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 80;
    width: 500px;
    height: 348px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    &--title {
      padding: 20px 15px;
      p {
        font-size: 20px;
        font-weight: 700;
      }
    }
    &--txt {
      padding: 30px 0;
      border-top: 1px solid #75757560;
      border-bottom: 1px solid #75757560;
      p {
        padding: 0 15px;
        font-weight: 400;
      }
      &--icon {
        ul {
          display: flex;
          justify-content: center;
          margin-bottom: 30px;
          .btn {
            display: block;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            padding: 0;
            margin: 0 20px;
            border-radius: 100%;
            background-color: transparent;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      &--url {
        display: flex;
        justify-content: center;

        input {
          width: 380px;
          height: 50px;
        }
      }
    }
    &--btn {
      display: flex;
      justify-content: center;
      padding: 13px 15px;
      text-align: right;
    }
  }
}

@media screen and (max-width: 855px) {
  .modal-mo {
    z-index: 90;
    .modal-wnd-item {
      width: 100%;
      height: 100vh;
      position: fixed;
      background-color: #000000;
      top: 0;
      left: 0;
      padding: 50px 30vw;
      .closeModalMobile-btn {
        display: flex;
        justify-content: right;
        .x-btn {
          cursor: pointer;
          position: absolute;
          top: 5%;
          right: 10%;
          width: 50px;
          height: 50px;
          &::before {
            content: "";
            display: block;
            width: 30px;
            height: 3px;
            background-color: #fff;
            transform: rotate(45deg);
            position: absolute;
            top: 45%;
            right: 20%;
          }
          &::after {
            content: "";
            display: block;
            width: 30px;
            height: 3px;
            background-color: #fff;
            transform: rotate(-45deg);
            position: absolute;
            top: 45%;
            right: 20%;
          }
        } //.closeModalMobile-btn
      } //#closeModalMobile
      .mo-logged {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .headerLayout-Area--infoForm {
        display: flex;
        justify-content: center;
        .infoForm-All {
          display: flex;
          align-items: center;
          .infoForm-img {
            margin-right: 10px;
            outline: 1px solid red;
            img {
              width: 50px;
              height: 50px;
            }
          } //.infoForm-img
          .infoForm-userNM {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            cursor: pointer;
            .ic-settings {
              margin-top: 6px;
              margin-left: 5px;
              font-size: 15px;
            }
          } //.infoForm-userNM
        } //.infoForm-All
      } //.headerLayout-Area--infoForm
      .comment-txt {
        display: flex;
        justify-content: center;
        margin: 16px 0;
        button {
          font-size: 16px;
        }
      } //.comment
      .headerLayout-Area--joinForm {
        display: flex;
        justify-content: center;
        .join {
          display: flex;
          align-items: center;
          text-align: center;
          span {
            img {
              width: 30px;
            }
          }
          a {
            margin-left: 10px;
            margin-top: 5px;
            font-size: 15px;
            font-weight: 300;
            cursor: pointer;
            transition: all 0.25s ease;
            span {
              &:hover {
                color: #ff3672;
              }
            }
          }
        }
      } //.headerLayout-Area--joinForm
      .headerLayout-Area--searchForm {
        display: flex;
        justify-content: center;
        .input-group {
          button {
            background-image: linear-gradient(120deg, #ff3672 0%, #7723ff 100%);
            padding: 0 14px;
          }
          .form-outline {
            #form1 {
              background-color: #1a1a1a;
              color: #fff;
              transition: all 1s ease;
              &:focus {
                outline: 1px solid #ff3672;
              }
            }
          } //.form-outline
        } //.input-group
      } //.headerLayout-Area--searchForm
      .headerLayout-Area--viewContents {
        display: flex;
        justify-content: center;
        .view {
          font-size: 26px;
          display: flex;
          justify-content: center;
          ul {
            padding-left: 0;
            li {
              margin: 15px 0;
              cursor: pointer;
              div {
                display: flex;
                align-items: center;
                transition: all 0.7s ease;
                img {
                  margin-right: 7px;
                  width: 20px;
                }
                span {
                  transition: all 0.25s ease;
                }
              }
            }
          }
        }
        .line {
          width: 100%;
        }
        .view01 {
          li {
            &:nth-child(1) {
              div {
                &:hover {
                  background-image: url("/images/navIcon01-o.png");
                  background-repeat: no-repeat;
                  background-position: left;
                  background-size: 22px;
                  img {
                    opacity: 0;
                  }
                  span {
                    color: #cc0040;
                    font-weight: bold;
                  }
                }
              }
            }
            &:nth-child(2) {
              div {
                &:hover {
                  background-image: url("/images/navIcon02-o.png");
                  background-repeat: no-repeat;
                  background-position: left;
                  background-size: 22px;
                  img {
                    opacity: 0;
                  }
                  span {
                    color: #cc0040;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        } //.view01
        .view02 {
          li {
            &:nth-child(1) {
              div {
                &:hover {
                  background-image: url("/images/navIcon03-o.png");
                  background-repeat: no-repeat;
                  background-position: left;
                  background-size: 22px;
                  img {
                    opacity: 0;
                  }
                  span {
                    color: #cc0040;
                    font-weight: bold;
                  }
                }
              }
            }
            &:nth-child(2) {
              div {
                &:hover {
                  background-image: url("/images/navIcon04-o.png");
                  background-repeat: no-repeat;
                  background-position: left;
                  background-size: 22px;
                  img {
                    opacity: 0;
                  }
                  span {
                    color: #cc0040;
                    font-weight: bold;
                  }
                }
              }
            }
            &:nth-child(3) {
              div {
                &:hover {
                  background-image: url("/images/navIcon06-o.png");
                  background-repeat: no-repeat;
                  background-position: left;
                  background-size: 22px;
                  img {
                    opacity: 0;
                  }
                  span {
                    color: #cc0040;
                    font-weight: bold;
                  }
                }
              }
            }
            &:nth-child(4) {
              div {
                &:hover {
                  background-image: url("/images/navIcon08-o.png");
                  background-repeat: no-repeat;
                  background-position: left;
                  background-size: 22px;
                  img {
                    opacity: 0;
                  }
                  span {
                    color: #cc0040;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        } //.view02
        .view03 {
          ul {
            margin-right: 20px;
          }
          li {
            &:nth-child(1) {
              div {
                &:hover {
                  background-image: url("/images/navIcon07-o.png");
                  background-repeat: no-repeat;
                  background-position: left;
                  background-size: 22px;
                  img {
                    opacity: 0;
                  }
                  span {
                    color: #cc0040;
                    font-weight: bold;
                  }
                }
              }
            }
            &:nth-child(2) {
              div {
                &:hover {
                  background-image: url("/images/navIcon08-o.png");
                  background-repeat: no-repeat;
                  background-position: left;
                  background-size: 22px;
                  img {
                    opacity: 0;
                  }
                  span {
                    color: #cc0040;
                    font-weight: bold;
                  }
                }
              }
            }
            &:nth-child(3) {
              div {
                &:hover {
                  background-image: url("/images/navIcon09-o.png");
                  background-repeat: no-repeat;
                  background-position: left;
                  background-size: 22px;
                  img {
                    opacity: 0;
                  }
                  span {
                    color: #cc0040;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        } //.view03
      } //.headerLayout-Area--viewContents
    } //.modal-wnd-item
  } //#modalMobile
  #modalGenre {
    z-index: 99;
  }
  #modalEmote {
    z-index: 99;
  }
}
@media screen and (max-width: 500px) {
  .modal-mo {
    .modal-wnd-item {
      padding: 50px 20vw;
    }
  }
}
