.monthRanking {
  padding: 80px;

  #monthRankList {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        position: relative;
        width: 17.5vw;
        margin: 20px;
        img {
          width: 100%;
        }
        &:nth-child(1) {
          width: 24vw;
        }
        &:nth-child(2) {
          width: 24vw;
        }
        &:nth-child(3) {
          width: 24vw;
        }
        .postTitle {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000000b6;
          opacity: 0;
          transition: all 0.25s ease;
          transition-delay: 0.2s;
          .postTxt {
            position: absolute;
            bottom: 10px;
            left: 10px;
            p {
              font-size: 26px;
              &:nth-child(1) {
                font-size: 13px;
                font-weight: 200;
                margin-bottom: 3px;
              }
              &:nth-child(2) {
                font-weight: 600;
              }
              &:nth-child(3) {
                margin-top: 20px;
                font-size: 13px;
                font-weight: 200;
              }
            }
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  } //#monthRankList
} //.monthRanking

#month {
  display: flex;
  justify-content: center;
  font-size: 18px;
  .prevMonth,
  .nextMonth {
    cursor: pointer;
    &:hover {
      font-weight: bold;
      color: #ff3672;
    }
  }
  #monthDate {
    padding: 0 8px;
  }
}

@media screen and (max-width: 1550px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 23vw;
    margin: 10px;
  }
  .monthRanking {
    padding: 50px;
  }
} //@media screen and (max-width: 1550px)
@media screen and (max-width: 1415px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 23vw;
  }
  .monthRanking {
    padding: 50px;
  }
} //@media screen and (max-width: 1415px)
@media screen and (max-width: 1240px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 22vw;
  }
  .monthRanking {
    padding: 50px;
  }
} //@media screen and (max-width: 1240px)
@media screen and (max-width: 1045px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 21vw;
  }
  .monthRanking {
    padding: 30px;
  }
} //@media screen and (max-width: 1045px)
@media screen and (max-width: 960px) {
  .monthRanking #monthRankList ul li:nth-child(1),
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 20vw;
  }
  .monthRanking {
    padding: 20px;
  }
} //@media screen and (max-width: 960px)
@media screen and (max-width: 855px) {
  .monthRanking #monthRankList ul li:nth-child(1) {
    width: 100%;
  }
  .monthRanking #monthRankList ul li:nth-child(1) a img {
    width: 100%;
  }
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 47.4%;
  }
  .monthRanking #monthRankList ul li:nth-child(2) a img,
  .monthRanking #monthRankList ul li:nth-child(3) a img {
    width: 100%;
  }
  .monthRanking #monthRankList ul li {
    width: 100%;
    margin: 8px;
  }
  .monthRanking #monthRankList ul li a img {
    width: 30%;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle,
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle,
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7137254902);
    opacity: 0;
    transition: all 0.25s ease;
    transition-delay: 0.2s;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle:hover,
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle:hover,
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle:hover {
    opacity: 1;
  }
  .monthRanking #monthRankList ul li .postTitle {
    position: absolute;
    top: 0;
    left: 30%;
    width: 79%;
    height: 100%;
    background: none;
    opacity: 1;
  }
  .monthRanking
    #monthRankList
    ul
    li:nth-child(1)
    .postTitle
    .postTxt
    p:nth-child(3),
  .monthRanking
    #monthRankList
    ul
    li:nth-child(2)
    .postTitle
    .postTxt
    p:nth-child(3),
  .monthRanking
    #monthRankList
    ul
    li:nth-child(3)
    .postTitle
    .postTxt
    p:nth-child(3) {
    margin-top: 15px;
  }
  .monthRanking #monthRankList ul li .postTitle .postTxt p:nth-child(3) {
    margin-top: 45px;
  }
} //@media screen and (max-width: 850px)
@media screen and (max-width: 500px) {
  .monthRanking #monthRankList ul li:nth-child(1) {
    width: 100%;
  }
  .monthRanking #monthRankList ul li:nth-child(1) a img {
    width: 100%;
  }
  .monthRanking #monthRankList ul li:nth-child(2),
  .monthRanking #monthRankList ul li:nth-child(3) {
    width: 45.4%;
  }
  .monthRanking #monthRankList ul li:nth-child(2) a img,
  .monthRanking #monthRankList ul li:nth-child(3) a img {
    width: 100%;
  }
  .monthRanking #monthRankList ul li {
    width: 100%;
    margin: 8px;
  }
  .monthRanking #monthRankList ul li a img {
    width: 35%;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle,
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle,
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7137254902);
    opacity: 0;
    transition: all 0.25s ease;
    transition-delay: 0.2s;
  }
  .monthRanking #monthRankList ul li:nth-child(1) .postTitle:hover,
  .monthRanking #monthRankList ul li:nth-child(2) .postTitle:hover,
  .monthRanking #monthRankList ul li:nth-child(3) .postTitle:hover {
    opacity: 1;
  }
  .monthRanking #monthRankList ul li .postTitle {
    position: absolute;
    top: 8%;
    left: 35%;
    width: 79%;
    height: 100%;
    background: none;
    opacity: 1;
  }
  .topAndbut {
    text-align: left;
  }
  .monthRanking #monthRankList ul li .postTitle .postTxt p {
    font-size: 16px;
  }
  .monthRanking #monthRankList ul li .postTitle .postTxt p:nth-child(1) {
    font-size: 13px;
    font-weight: 200;
  }
  .monthRanking
    #monthRankList
    ul
    li:nth-child(1)
    .postTitle
    .postTxt
    p:nth-child(3),
  .monthRanking
    #monthRankList
    ul
    li:nth-child(2)
    .postTitle
    .postTxt
    p:nth-child(3),
  .monthRanking
    #monthRankList
    ul
    li:nth-child(3)
    .postTitle
    .postTxt
    p:nth-child(3) {
    margin-top: 15px;
  }
  .monthRanking #monthRankList ul li .postTitle .postTxt p:nth-child(3) {
    margin-top: 30px;
  }
  .monthRanking {
    margin-top: 100px;
  }
} //@media screen and (max-width: 500px)
