
.mainContent {
  display: block;
  &-Area01 {
    &-title {
    }//&-title
    &-item {
      .Area01-item--profile {
        display: flex;
        &-img {
          width: 30%;
          text-align: center;
          img {
            width: 200px;
            height: 200px;
          }
          .fileArea {
            label {
              margin-top: 20px;
            }
          }
          .fileArea input[type="file"] {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            border: 0;
          }//.fileArea
        }//&--img
        &-form {
          width: 70%;
          .formArea {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            span {
              &:nth-child(1) {
                margin-right: 30px;
              }
              &:nth-child(2) {
                padding: 6px 0 6px 10px;
                width: 200px;
                background-color: #222222d7;
              }
            }
            &-sub {
              display: flex;
              align-items: center;
              p {
                width: 75px;
              }
            }
          }//.formArea
          .formArea-bt {
            display: block;
            line-height: 2.3;
          }
        }//&--form
      }//.Area01-item--profile
    }//&-item 
  }//&-Area01
  &-Area02 {
    height: 300px;
    &-title {
      display: flex;
      align-items: center;
      button {
        margin: 0 0 13px 25px;
      }
    }//&-title
    .Area02-item--profile {
      &-list {
        ul {
          display: flex;
          gap: 50px;
          li {
            position: relative;
            a {
              width: 360px;
              height: 200px;
              img {
                width: 360px;
                height: 200px;
              }
              .profile-list {
                width: 360px;
                height: 200px;
                background-color: #000000d7;
                position: absolute;
                top: 0; left: 0;
                opacity: 0;
                transition: all 0.4s ease;
                transition-delay: 0.1s;
                &-txt {
                  position: absolute;
                  bottom: 10px; left: 10px;
                  p {
                    line-height: 1.3;
                    margin: 0; padding: 0;
                    &:nth-child(1) {
                      font-weight: 200;
                    }//&:nth-child(1)
                    &:nth-child(2) {
                      font-size: 26px;
                      font-weight: 600;
                    }//&:nth-child(2)
                    &:nth-child(3) {
                      margin-top: 20px;
                      font-size: 13px;
                      font-weight: 200;
                    }//&:nth-child(3)
                  }
                }//&-txt
                &:hover {
                  opacity: 1;
                }
              }//.profile-list
            }
          }
        }
        
      }//&-list
    }//.Area02-item--profile
  }//&-Area02
}//.mainConstent




@media screen and (max-width: 1825px) {
  .mainContent-Area02 .Area02-item--profile-list ul {
    gap: 5vw;
  }
}//@media screen and (max-width: 1825px)
@media screen and (max-width: 1290px) {
  .mainContent-Area02 .Area02-item--profile-list ul {
    gap: 7vw;
  }
}//@media screen and (max-width: 1290px)
@media screen and (max-width: 1055px) {
  .mainContent-Area02 .Area02-item--profile-list ul {
    gap: 8vw;
  }
  .mainContent-Area01-item .Area01-item--profile-img {
    width: 35vw;
  }
}//@media screen and (max-width: 1055px)
@media screen and (max-width: 855px) {
  .main-constent--itmes-center {
    padding: 120px 50px 50px 50px;
  }
  .mainContent-Area02 .Area02-item--profile-list ul li a img {
    width: 370px;
    height: 100%;
  }
  .mainContent-Area02 {
    height: 350px;
  }
  .mainContent-Area02 .Area02-item--profile-list ul {
    gap: 3vw;
  }
  .profile-list {
    width: 370px !important;
    height: 210px !important;
  }
}//@media screen and (max-width: 855px)
@media screen and (max-width: 800px) {
  .mainContent-Area02 .Area02-item--profile-list ul li a img {
    width: 390px;
    height: 100%;
  }
  .mainContent-Area02 {
    height: 350px;
  }
  .mainContent-Area01-item .Area01-item--profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainContent-Area01-item .Area01-item--profile-img {
    width: 100%;
    text-align: center;
  }
  .mainContent-Area01-item .Area01-item--profile-form {
    width: 100%;
    margin-left: 15%;
  }
  .mainContent-Area01-item .Area01-item--profile-form .formArea span button {
    padding: 10px 30px;
  }
  .mainContent-Area01-item .Area01-item--profile-form .formArea span:nth-child(2) {
    padding: 6px 0 6px 10px;
    width: 300px;
  }
  .profile-list {
    width: 390px !important;
    height: 220px !important;
  }
}//@media screen and (max-width: 800px)
@media screen and (max-width: 500px) {
  .mainContent-Area02 .Area02-item--profile-list ul li a img {
    width: 390px;
    height: 100%;
  }
  .mainContent-Area02 {
    height: 350px;
  }
  .mainContent-Area01-item .Area01-item--profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainContent-Area01-item .Area01-item--profile-img {
    width: 100%;
    text-align: center;
  }
  .mainContent-Area01-item .Area01-item--profile-form {
    width: 100%;
    margin-left: 4%;
  }
  .mainContent-Area01-item .Area01-item--profile-form .formArea span button {
    padding: 10px 10px;
  }
  .mainContent-Area01-item .Area01-item--profile-form .formArea span:nth-child(2) {
    padding: 6px 0 6px 10px;
    width: 250px;
  }
  .profile-list {
    width: 390px !important;
    height: 220px !important;
  }
}//@media screen and (max-width: 500px)
@media screen and (max-width: 320px) {
  .mainContent-Area01-item .Area01-item--profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainContent-Area01-item .Area01-item--profile-img {
    width: 100%;
    text-align: center;
  }
  .mainContent-Area01-item .Area01-item--profile-form {
    width: 100%;
  }
  .mainContent-Area01-item .Area01-item--profile-form .formArea span button {
    padding: 10px 10px;
  }
  .mainContent-Area01-item .Area01-item--profile-form .formArea span:nth-child(2) {
    padding: 6px 0 6px 10px;
    width: 150px;
  }
  .mainContent-Area02 .Area02-item--profile-list ul li a img {
    width: 280px;
    height: 100%;
  }
  .mainContent-Area02 .Area02-item--profile-list ul {
    gap: 15vw;
  }
  .mainContent-Area02 {
    height: 250px;
  }
  h1 {
    font-size: 30px;
  }
  .mainContent-Area02-title button {
    padding: 8px 13px;
  }
  .main-constent--itmes-center {
    padding: 120px 20px 50px 20px;
  }
  .profile-list {
    &:hover {
      display: none;
    }
  }
  .profile-list.profile-list-media320 {
    display: none;
  }
}//@media screen and (max-width: 320px)
