.recent-page {
  width: 100%;
  .recent-page--listBox {
    width: 100%;
    padding: 50px;
    .recent-page--list {
      .flex {
        transform: translateX(3%);
        ul {
          display: flex;
          justify-content: left;
          flex-wrap: wrap;
          li {
            a {
              .recent-listImg--box {
                .recent-listImg--img {
                  margin: 15px;
                  img {
                    width: 210px;
                    height: 118px;
                  }
                  .recent-listImg--content {
                    .recent-music--title-All {
                      margin-left: 5px;
                      .recent-music--title {
                        font-size: 15px;
                        p {
                          &:nth-child(1) {
                            margin-top: 5px;
                          }
                          &:nth-child(2) {
                            font-size: 18px;
                            margin-top: 3px;
                            font-weight: bold;
                          }
                        }
                      }//.recent-music--title
                      .recent-music--title02 {
                        margin-top: 15px;
                        p {
                          &:nth-child(1) {
                            margin-top: 5px;
                          }
                          &:nth-child(2) {
                            font-size: 12px;
                            margin-top: 3px;
                            font-weight: 300;
                            opacity: .65;
                          }
                        }
                      }//.recent-music--title02
                    }//.recent-music--title-All
                  }//.recent-listImg--content
                }//.recent-listImg--img
              }//.recent-listImg--box
            }
            .btns {
              margin: 15px 0 15px 25px;
              span {
                padding: 10px 30px;
                &:nth-child(1) {
                  margin-right: 15px;
                }
              }
              .btn-dark {
                background-color: #bb2d3b;
              }
            }//.btns
            
          }
        }
        .conten {
          display: flex;
          justify-content: center;
        }
      }
    }//.recent-page--list
  }//.recent-page--listBox
}//.recent-page

.history-written{
  .category-title{
    font-size: 2rem;
  }
  .items{
    width: 100vw;
    padding: 3%;
    .item{
      display: flex;
      position: relative;
      margin: 10px 0;
      padding: 5px;
      border: solid 1px #333;
      .history{
        &-thumb{
    
        }
        &-cont{
          display: flex;
          flex: 1;
          justify-content: space-between;
          &-info{
            height: 30%;
            flex: 1;
            margin: 3px 5px;
          }
          &-data{
            min-width: 200px;
            display: flex;
            margin: 3px 5px;
            flex-direction: column;
            justify-content: space-evenly;
          }
          &-btns{
            display: flex;
            margin-bottom: 0;
            flex-direction: column;
            justify-content: space-around;
            margin: 3px 5px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 855px) {
  .recent-page .recent-page--listBox {
    width: 100%;
    padding: 50px 50px;
    margin-top: 100px;
  }
  .category-title {
    text-align: center;
  }
  .recent-page .recent-page--listBox .recent-page--list .flex {
    transform: translateX(0);
  }


  .history-cont-info{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #000;
  }

}//.@media screen and (max-width: 855px)
@media screen and (max-width: 500px) {
  .recent-page .recent-page--listBox {
    width: 100%;
    padding: 0px;
    margin-top: 120px;
  }
  .category-title {
    text-align: center;
  }
  .recent-page .recent-page--listBox .recent-page--list .flex {
    transform: translateX(0);
  }
}//.@media screen and (max-width: 500px)