
#weekly {
  display: flex;
  justify-content: center;
  font-size: 18px;
  .prevWeekly,
  .nextWeekly {
    cursor: pointer;
    &:hover {
      font-weight: bold;
      color: #ff3672;
    }
  }
  #weeklyDate {
    padding: 0 8px;
  }
}
